<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.opengda.detector.electronanalyser.client.regioneditor.RegionViewExtensionFactory:regionviewfactory"
            id="org.opengda.detector.electronanalyser.client.regioneditor"
            name="Region Editor"
            restorable="true">
      </view>
      <view
            class="org.opengda.detector.electronanalyser.client.sequenceeditor.SequenceViewExtensionFactory:sequenceviewfactory"
            id="org.opengda.detector.electronanalyser.client.sequenceeditor"
            name="Sequence Editor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            factory="org.opengda.detector.electronanalyser.client.SequenceEditingDomain"
            id="org.opengda.detector.electronanalyser.client.sequence.editingdomain">
      </editingDomain>
   </extension>

</plugin>
