<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.opengda.detector.electronanalyser.client.ses"
            class="gda.rcp.views.ViewFactory:regionviewfactory"
            id="org.opengda.detector.electronanalyser.client.regioneditor"
            name="Region Editor"
            restorable="true">
      </view>
      <view
            category="org.opengda.detector.electronanalyser.client.ses"
            class="gda.rcp.views.ViewFactory:sequenceviewfactory"
            id="org.opengda.detector.electronanalyser.client.sequenceeditor"
            name="Sequence Editor"
            restorable="true">
      </view>
      <view
            category="org.opengda.detector.electronanalyser.client.ses"
            class="gda.rcp.views.ViewFactory:spectrumviewfactory"
            id="org.opengda.detector.electronanalyser.client.views.spectrumview"
            name="Spectrum"
            restorable="true">
      </view>
      <!-- <view
            category="org.opengda.detector.electronanalyser.client.ses"
            class="gda.rcp.views.ViewFactory:externalioviewfactory"
            id="org.opengda.detector.electronanalyser.client.views.externalioview"
            name="External IO"
            restorable="true">
      </view> -->
      <view
            category="org.opengda.detector.electronanalyser.client.ses"
            class="gda.rcp.views.ViewFactory:imageviewfactory"
            id="org.opengda.detector.electronanalyser.client.views.imageview"
            name="Image"
            restorable="true">
      </view>
      <!-- <view
            category="org.opengda.detector.electronanalyser.client.ses"
            class="gda.rcp.views.ViewFactory:slicesviewfactory"
            id="org.opengda.detector.electronanalyser.client.views.slicesview"
            name="Slices"
            restorable="true">
      </view> -->
      <view
            category="org.opengda.detector.electronanalyser.client.ses"
            class="gda.rcp.views.ViewFactory:progressviewfactory"
            id="org.opengda.detector.electronanalyser.client.views.progressview"
            name="Progress"
            restorable="true">
      </view>
      <view
            category="org.opengda.detector.electronanalyser.client.ses"
            class="gda.rcp.views.ViewFactory:statusviewfactory"
            icon="icons/status.png"
            id="uk.ac.gda.epics.client.views.StatusView"
            name="Status"
            restorable="true">
      </view>
      <category
            id="org.opengda.detector.electronanalyser.client.ses"
            name="SES">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.opengda.detector.electronanalyser.client.newsequence"
            name="New">
      </command>
      <command
            id="org.opengda.detector.electronanalyser.client.opensequence"
            name="Open">
      </command>
      <command
            description="Start"
            id="org.opengda.detector.electronanalyser.client.startcollection"
            name="Start">
      </command>
      <command
            id="org.opengda.detector.electronanalyser.client.stopcollection"
            name="Stop">
      </command>
      <command
            defaultHandler="org.opengda.detector.electronanalyser.client.actions.ChangeLayoutHandler"
            id="org.opengda.detector.electronanalyser.client.showTile"
            name="Change Layout">
         <commandParameter
               id="org.opengda.detector.electronanalyser.client.plotLayoutPreference"
               name="PlotLayoutPreference"
               optional="true">
         </commandParameter>
      </command>
      <category
            description="Change plot layout"
            id="org.opengda.detector.electronanalyser.client.plotlayout"
            name="Plot Layout">
      </category>
      <command
            categoryId="org.opengda.detector.electronanalyser.client.plotlayout"
            defaultHandler="org.opengda.detector.electronanalyser.client.actions.PlotLayoutDropDownHandler"
            id="org.opengda.detector.electronanalyser.client.plotlayoutdopdown"
            name="Drop">
      </command>
      <command
            description="Command to clipboard"
            id="org.opengda.detector.electronanalyser.client.commandToClipboard"
            name="Command to clipboard">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.opengda.detector.electronanalyser.client.sequenceeditor">
         <command
               commandId="org.opengda.detector.electronanalyser.client.newsequence"
               icon="icons/new_file.gif"
               label="New"
               style="push"
               tooltip="Create a new sequence file">
         </command>
         <command
               commandId="org.opengda.detector.electronanalyser.client.opensequence"
               icon="icons/open-task.gif"
               label="Open..."
               mode="FORCE_TEXT"
               style="push"
               tooltip="Open a sequence file">
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               icon="icons/save.gif"
               id="org.opengda.detector.electronanalyser.client.sequence.save"
               label="Save"
               style="push"
               tooltip="Save the sequence">
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAs"
               icon="icons/saveas.gif"
               label="SaveAs"
               style="push"
               tooltip="Save the sequence in another file">
         </command>
         <separator
               name="org.opengda.detector.electronanalyser.client.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.opengda.detector.electronanalyser.client.startcollection"
               icon="icons/run_exc.gif"
               label="Start"
               style="push"
               tooltip="Save sequence and start it running">
         </command>
         <command
               commandId="org.opengda.detector.electronanalyser.client.commandToClipboard"
               icon="icons/runToClipboard.png"
               label="Command to clipboard"
               style="push"
               tooltip="Save the sequence and copy the command to the clipboard">
         </command>
         <!--command
               commandId="org.opengda.detector.electronanalyser.client.stopcollection"
               icon="icons/stop.gif"
               id="org.opengda.detector.electronanalyser.client.sequence.stop"
               label="Stop"
               style="push"
               tooltip="Stop current data collection">
         </command> -->
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.opengda.detector.electronanalyser.client.sequenceeditor">
         <command
               commandId="org.opengda.detector.electronanalyser.client.startcollection"
               icon="icons/run_exc.gif"
               label="Start"
               style="push"
               tooltip="Save sequence and start it running">
         </command>
         <command
               commandId="org.opengda.detector.electronanalyser.client.commandToClipboard"
               icon="icons/runToClipboard.png"
               label="Command to clipboard"
               style="push"
               tooltip="Save the sequence and copy the command to the clipboard">
         </command>
         <!--command
               commandId="org.opengda.detector.electronanalyser.client.stopcollection"
               icon="icons/stop.gif"
               label="Stop"
               style="push"
               tooltip="Stop current data collection">
         </command-->
         <separator
               name="org.opengda.detector.electronanalyser.client.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.opengda.detector.electronanalyser.client.newsequence"
               icon="icons/new_file.gif"
               label="New"
               style="push"
               tooltip="Create a new sequence file">
         </command>
         <command
               commandId="org.opengda.detector.electronanalyser.client.opensequence"
               icon="icons/open-task.gif"
               label="Open"
               style="push"
               tooltip="Open a sequence file">
         </command>
         <command
               commandId="org.eclipse.ui.file.save"
               icon="icons/save.gif"
               id="org.eclipse.ui.file.savesequence"
               label="Save"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAs"
               icon="icons/saveas.gif"
               label="SaveAs"
               style="push"
               tooltip="Save the sequence in another file">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.opengda.detector.electronanalyser.client.toolbar2">
            <command
                  commandId="org.opengda.detector.electronanalyser.client.plotlayoutdopdown"
                  label="SES Plot Layout"
                  style="pulldown"
                  tooltip="Plot Layout Control">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.opengda.detector.electronanalyser.client.ses.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.opengda.detector.electronanalyser.client.plotlayoutdopdown">
         <command
               commandId="org.opengda.detector.electronanalyser.client.showTile"
               icon="icons/tile_quad.png"
               label="Quad"
               style="push">
            <parameter
                  name="org.opengda.detector.electronanalyser.client.plotLayoutPreference"
                  value="TILEQUAD">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.opengda.detector.electronanalyser.client.ses.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.opengda.detector.electronanalyser.client.showTile"
               icon="icons/stack.png"
               label="Stack"
               style="push">
            <parameter
                  name="org.opengda.detector.electronanalyser.client.plotLayoutPreference"
                  value="STACKPLOT">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.opengda.detector.electronanalyser.client.ses.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.opengda.detector.electronanalyser.client.showTile"
               icon="icons/tile-vertical.png"
               label="Vertical"
               style="push">
            <parameter
                  name="org.opengda.detector.electronanalyser.client.plotLayoutPreference"
                  value="TILEVERTICAL">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.opengda.detector.electronanalyser.client.ses.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.opengda.detector.electronanalyser.client.showTile"
               icon="icons/tile-horizontal.png"
               label="Horizontal"
               style="push">
            <parameter
                  name="org.opengda.detector.electronanalyser.client.plotLayoutPreference"
                  value="TILEHORIZONTAL">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.opengda.detector.electronanalyser.client.ses.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.opengda.detector.electronanalyser.client.actions.NewSequenceAction"
            commandId="org.opengda.detector.electronanalyser.client.newsequence">
      </handler>
      <handler
            class="org.opengda.detector.electronanalyser.client.actions.OpenSequenceAction"
            commandId="org.opengda.detector.electronanalyser.client.opensequence">
      </handler>
      <handler
            class="org.opengda.detector.electronanalyser.client.actions.StartCollectionAction"
            commandId="org.opengda.detector.electronanalyser.client.startcollection">
      </handler>
      <handler
            class="org.opengda.detector.electronanalyser.client.actions.StopCollectionAction"
            commandId="org.opengda.detector.electronanalyser.client.stopcollection">
      </handler>
      <handler
            class="org.opengda.detector.electronanalyser.client.actions.CommandToClipboardAction"
            commandId="org.opengda.detector.electronanalyser.client.commandToClipboard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.opengda.detector.electronanalyser.client.SESPerspective"
            icon="icons/ses.gif"
            id="org.opengda.detector.electronanalyser.client.ses.perspective"
            name="SES Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.opengda.detector.electronanalyser.client.dialogs.NewSequenceFileWizard"
            icon="icons/new_file.gif"
            id="org.opengda.detector.electronanalyser.client.newsequencewizard"
            name="Create New Sequence File">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.opengda.detector.electronanalyser.client.plotlayoutdopdown"
            icon="icons/layout_edit.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.opengda.detector.electronanalyser.client.actions.OpenSequenceActionProvider"
            id="org.opengda.detector.electronanalyser.client.actions.OpenSequenceActionProvider"
            overrides="org.eclipse.ui.navigator.resources.OpenActions"
            priority="highest">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="seq">
               </test>
            </and>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.opengda.detector.electronanalyser.client.actions.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>

</plugin>
