<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.editors">
    <editor
          class="uk.ac.gda.devices.bssc.ui.BSSCSessionBeanEditor"
          default="true"
          icon="icons/well.png"
          id="uk.ac.gda.devices.bssc.beans.BSSCSessionBeanEditor"
          name="BSSC Session Editor">
            <contentTypeBinding
                contentTypeId="uk.ac.gda.devices.bssc.beans.BSSCSessionBeanContentType">
            </contentTypeBinding>
     </editor>
  </extension>
  <extension point="org.eclipse.core.contenttype.contentTypes">
     <content-type
       base-type="org.eclipse.core.runtime.xml"
       describer="uk.ac.gda.devices.bssc.ui.BSSCSessionBeanDescriber"
       file-extensions="biosaxs, xml"
       id="uk.ac.gda.devices.bssc.beans.BSSCSessionBeanContentType"
       name="BSSCSessionBean File Content"
       priority="high">
     </content-type>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="uk.ac.gda.devices.bssc"
           name="Experiment">
     </category>
     <wizard
           category="uk.ac.gda.devices.bssc"
           class="uk.ac.gda.devices.bssc.wizards.BSSCSessionWizard"
           icon="icons/sample.gif"
           id="uk.ac.gda.devices.bssc.wizards.BSSCSessionWizard"
           name="BioSAXS Sample Robot Experiment">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <category
           id="uk.ac.gda.devices.bssc.wizards.sampleCategory"
           name="BSSC Spreadsheet File Import">
     </category>
     <wizard
           category="uk.ac.gda.devices.bssc.wizards.sampleCategory"
           class="uk.ac.gda.devices.bssc.wizards.BSSCImportWizard"
           icon="icons/sample.gif"
           id="uk.ac.gda.devices.bssc.wizards.BSSCImportWizard"
           name="BioSAXS Experiment Import">
        <description>
           Import a file from the local file system into the workspace.
        </description>
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="uk.ac.gda.devices.bssc.perspectives.BSSCPerspective"
           id="uk.ac.gda.devices.bssc.perspective"
           name="BSSC Perspective">
     </perspective>
     <perspective
           class="uk.ac.gda.devices.bssc.perspectives.BioSAXSProgressPerspective"
           id="uk.ac.gda.devices.bssc.biosaxsprogressperspective"
           name="BioSAXS Progress">
     </perspective>
     <perspective
           class="uk.ac.gda.devices.bssc.perspectives.BioSAXSResultPerspective"
           id="uk.ac.gda.devices.bssc.biosaxsresultperspective"
           name="BioSAXS Result">
     </perspective>
     <perspective
           class="uk.ac.gda.devices.bssc.perspectives.BioSAXSSetupPerspective"
           id="uk.ac.gda.devices.bssc.biosaxssetupperspective"
           name="BioSAXS Setup">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           class="uk.ac.gda.devices.bssc.ui.BSSCStatus"
           id="uk.ac.gda.devices.bssc.ui.BSSCStatus"
           name="BioSAXS Robot Status">
     </view>
     <view
           class="uk.ac.gda.devices.bssc.ui.BioSAXSProgressView"
           id="uk.ac.gda.devices.bssc.biosaxsprogressview"
           name="BioSAXS Progress View"
           restorable="true">
     </view>
     <view
           class="uk.ac.gda.devices.bssc.views.CapillaryView"
           id="uk.ac.gda.devices.bssc.views.CapillaryView"
           name="Capillary View">
     </view>
     <view
           class="uk.ac.gda.devices.bssc.views.BioSAXSResultPlotView"
           id="uk.ac.gda.devices.bssc.views.BioSAXSResultPlotView"
           name="BioSAXS Result Plot"
           restorable="true">
     </view>
     <view
           class="uk.ac.gda.devices.bssc.views.BioSAXSProgressPlotView"
           id="uk.ac.gda.devices.bssc.views.BioSAXSProgressPlotView"
           name="BioSAXS Progress Plot"
           restorable="true">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:uk.ac.gda.client.CommandQueueViewFactory?after=additions">
           <command
                 commandId="uk.ac.gda.devices.bssc.EditQueuedItem"
                 label="Edit Queued Item">
         </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="menu:file?after=additions">
        <command
              commandId="uk.ac.gda.devices.bssc.LoadExperiment"
              label="Load Experiment"
              style="push">
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="uk.ac.gda.devices.bssc.ui.handlers.EditQueuedItemHandler"
           id="uk.ac.gda.devices.bssc.EditQueuedItem"
           name="Edit Queued Item">
     </command>
     <command
           defaultHandler="uk.ac.gda.devices.bssc.ui.handlers.LoadExperimentHandler"
           id="uk.ac.gda.devices.bssc.LoadExperiment"
           name="Load Experiment">
     </command>
  </extension>
  <!--<extension
        id="uk.ac.gda.devices.bssc.hideperspective"
        name="Hide Perspective"
        point="org.eclipse.ui.activities">
     <activityPatternBinding
           activityId="uk.ac.gda.devices.bssc.hideScriptsPerspectiveActivity"
           pattern="uk.ac.gda.pydev.extension/uk.ac.gda.pydev.extension.ui.JythonPerspective">
     </activityPatternBinding>
     <activity
           id="uk.ac.gda.devices.bssc.hideScriptsPerspectiveActivity"
           name="Hide Scripts Perspective">
     </activity>
  </extension>-->

</plugin>
