<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.editors">
    <editor
          class="uk.ac.gda.devices.bssc.ui.BSSCSessionBeanEditor"
          default="true"
          icon="icons/well.png"
          id="uk.ac.gda.devices.bssc.beans.BSSCSessionBeanEditor"
          name="BSSC Session Editor">
            <contentTypeBinding
                contentTypeId="uk.ac.gda.devices.bssc.beans.BSSCSessionBeanContentType">
            </contentTypeBinding>
     </editor>
  </extension>
  <extension point="org.eclipse.core.contenttype.contentTypes">
     <content-type
       base-type="org.eclipse.core.runtime.xml"
       describer="uk.ac.gda.devices.bssc.ui.BSSCSessionBeanDescriber"
       file-extensions="xml"
       id="uk.ac.gda.devices.bssc.beans.BSSCSessionBeanContentType"
       name="BSSCSessionBean File Content"
       priority="high">
     </content-type>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="uk.ac.gda.devices.bssc"
           name="Experiment">
     </category>
     <wizard
           category="uk.ac.gda.devices.bssc"
           class="uk.ac.gda.devices.bssc.wizards.BSSCSessionWizard"
           icon="icons/sample.gif"
           id="uk.ac.gda.devices.bssc.wizards.BSSCSessionWizard"
           name="BioSAXS Sample Robot Experiment">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <category
           id="uk.ac.gda.devices.bssc.wizards.sampleCategory"
           name="BSSC Spreadsheet File Import">
     </category>
     <wizard
           category="uk.ac.gda.devices.bssc.wizards.sampleCategory"
           class="uk.ac.gda.devices.bssc.wizards.BSSCImportWizard"
           icon="icons/sample.gif"
           id="uk.ac.gda.devices.bssc.wizards.BSSCImportWizard"
           name="BioSAXS Experiment Import">
        <description>
           Import a file from the local file system into the workspace.
        </description>
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="uk.ac.gda.devices.bssc.perspectives.BSSCPerspective"
           id="uk.ac.gda.devices.bssc.perspective"
           name="BSSC Perspective">
     </perspective>
     <perspective
           class="uk.ac.gda.devices.bssc.perspectives.BioSaxsProgressPerspective"
           id="uk.ac.gda.devices.progress.biosaxsprogressperspective"
           name="BioSAXS Progress">
     </perspective>
     <perspective
           class="uk.ac.gda.devices.bssc.perspectives.BioSaxsResultPerspective"
           id="uk.ac.gda.devices.result.perspective"
           name="BioSAXS Result">
     </perspective>
     <perspective
           class="uk.ac.gda.devices.bssc.perspectives.BioSaxsSetupPerspective"
           id="uk.ac.gda.devices.bssc.biosaxssetupPerspective"
           name="BioSAXS Setup">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           class="uk.ac.gda.devices.bssc.ui.BSSCStatus"
           id="uk.ac.gda.devices.bssc.ui.BSSCStatus"
           name="BioSAXS Robot Status">
     </view>
     <view
           class="uk.ac.gda.devices.bssc.Live3DPlotView"
           id="uk.ac.gda.devices.bssc.3DPlotView"
           name="3D Plot"
           restorable="true">
     </view>
     <view
           class="uk.ac.gda.devices.bssc.BioSaxsProgressView"
           id="uk.ac.gda.devices.bssc.biosaxsprogressview"
           name="BioSAXS Progress View"
           restorable="true">
     </view>
  </extension>

</plugin>
