<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="uk.ac.diamond.daq.jython.visible_packages" name="GDA Jython Visible Packages" schema="schema/uk.ac.diamond.daq.jython.visible_packages.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="uk.ac.diamond.daq.server.GDAServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="GDA_Server"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.diamond.daq.server.application"
            name="GDA Server">
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.diamond.daq.server.application"
            name="Data Acquisition Server">
         <property
               name="appName"
               value="Data Acquisition Server">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="aboutText"
               value="Diamond Light Source Data Acquisition Server&#x0A;&#x0A;Starts the server as an Eclipse OSGI application">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>
      </product>
   </extension>
   <extension
         point="uk.ac.diamond.daq.jython.visible_packages">
      <visible_package
            package="gda.device">
      </visible_package>
   </extension>

</plugin>
