<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="uk.ac.gda.epics.adviewer.commands.setExposure"
            name="SetExposure">
         <commandParameter
               id="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
               name="name"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
            name="SetLiveViewScale">
         <commandParameter
               id="uk.ac.gda.epics.adviewer.commandParameters.adcontrollerServiceName"
               name="name"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale"
            icon="icons/setLiveViewScale.gif">
      </image>
      <image
            commandId="uk.ac.gda.epics.adviewer.commands.setExposure"
            icon="icons/setExposure.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uk.ac.gda.epics.adviewer.handlers.SetExposure"
            commandId="uk.ac.gda.epics.adviewer.commands.setExposure">
      </handler>
      <handler
            class="uk.ac.gda.epics.adviewer.handlers.SetLiveViewScale"
            commandId="uk.ac.gda.epics.adviewer.commands.setLiveViewScale">
      </handler>
   </extension>

</plugin>
