<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://diamond.ac.uk/regiondefinition"
            class="com.opengda.detector.electronalyser.server.model.regiondefinition.RegiondefinitionPackage"
            genModel="model/regiondefinition.genmodel"/>
   </extension>

</plugin>
