<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.opengda.detector.electroanalyser.client.regioneditor.RegionViewFactory:regionviewholder"
            id="org.opengda.detector.electroanalyser.client.regioneditor"
            name="Region Editor"
            restorable="true">
      </view>
   </extension>

</plugin>
