<plugin>


   <extension point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.diamond.tomography.reconstruction.parameters.hm.presentation.HmEditor"
            contributorClass="uk.ac.diamond.tomography.reconstruction.parameters.hm.presentation.HmActionBarContributor"
            extensions="hm"
            icon="icons/full/obj16/HmModelFile.gif"
            id="uk.ac.diamond.tomography.reconstruction.parameters.hm.presentation.HmEditorID"
            name="%_UI_HmEditor_label">
         <contentTypeBinding contentTypeId="uk.ac.diamond.reconstruction.parameters"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
          <file-association
            content-type="org.eclipse.core.runtime.xml"
            file-extensions="hm">
      </file-association>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.diamond.tomography.reconstruction.parameters.hm.presentation.TomoSettingsContentTypeDescriber"
            id="uk.ac.diamond.reconstruction.parameters"
            name="Tomo Settings Content Type"
            priority="normal">
      </content-type>
         
   </extension>

</plugin>
