<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="uk.ac.diamond.tomography.reconstruction.parameters.hm.presentation.HmModelWizardID"
            name="%_UI_HmModelWizard_label"
            class="uk.ac.diamond.tomography.reconstruction.parameters.hm.presentation.HmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HmModelFile.gif">
         <description>%_UI_HmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="uk.ac.diamond.tomography.reconstruction.parameters.hm.presentation.HmEditorID"
            name="%_UI_HmEditor_label"
            icon="icons/full/obj16/HmModelFile.gif"
            extensions="hm"
            class="uk.ac.diamond.tomography.reconstruction.parameters.hm.presentation.HmEditor"
            contributorClass="uk.ac.diamond.tomography.reconstruction.parameters.hm.presentation.HmActionBarContributor">
      </editor>
   </extension>

</plugin>
