<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- address where the messages from Object Servers send to - the LogServer-->
    <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
        <RemoteHost>127.0.0.1</RemoteHost>
        <Port>6788</Port>
        <ReconnectionDelay>10000</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %-5level %logger{36} - %m%n%rEx</Pattern>
        </layout>
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	      <level>INFO</level>
	    </filter>           
    </appender>    
    <root>
        <level value="INFO"/>
        <appender-ref ref="SOCKET"/>
        <appender-ref ref="CONSOLE"/>
    </root>
    <consolePlugin />
</configuration>
