<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.diamond.daq.jython.api.visiblePackages">
       <packages>
         <package
            name="gda.beamline.beam">
         </package>
         <package
            name="gda.beamline.beam.corba.impl">
         </package>
         <package
            name="gda.beamline.beamline">
         </package>
         <package
            name="gda.beamline.beamline.corba.impl">
         </package>
         <package
            name="gda.beamline.video">
         </package>
         <package
            name="gda.commandqueue">
         </package>
         <package
            name="gda.configuration.object">
         </package>
         <package
            name="gda.configuration.object.schema">
         </package>
         <package
            name="gda.configuration.object.xml">
         </package>
         <package
            name="gda.data">
         </package>
         <package
            name="gda.data.fileregistrar">
         </package>
         <package
            name="gda.data.fileregistrar.corba.impl">
         </package>
         <package
            name="gda.data.generalfilereaders">
         </package>
         <package
            name="gda.data.generic">
         </package>
         <package
            name="gda.data.generic.corba.impl">
         </package>
         <package
            name="gda.data.metadata">
         </package>
         <package
            name="gda.data.metadata.corba.impl">
         </package>
         <package
            name="gda.data.metadata.icat">
         </package>
         <package
            name="gda.data.nexus">
         </package>
         <package
            name="gda.data.scan.datawriter">
         </package>
         <package
            name="gda.data.scan.datawriter.scannablewriter">
         </package>
         <package
            name="gda.data.srs">
         </package>
         <package
            name="gda.device">
         </package>
         <package
            name="gda.device.adc">
         </package>
         <package
            name="gda.device.adc.corba.impl">
         </package>
         <package
            name="gda.device.amplifier">
         </package>
         <package
            name="gda.device.amplifier.corba.impl">
         </package>
         <package
            name="gda.device.auxiliary">
         </package>
         <package
            name="gda.device.bpm">
         </package>
         <package
            name="gda.device.bpm.corba.impl">
         </package>
         <package
            name="gda.device.camac">
         </package>
         <package
            name="gda.device.continuouscontroller">
         </package>
         <package
            name="gda.device.controlpoint">
         </package>
         <package
            name="gda.device.controlpoint.corba.impl">
         </package>
         <package
            name="gda.device.corba.impl">
         </package>
         <package
            name="gda.device.currentamplifier">
         </package>
         <package
            name="gda.device.currentamplifier.corba.impl">
         </package>
         <package
            name="gda.device.detector">
         </package>
         <package
            name="gda.device.detector.analyser">
         </package>
         <package
            name="gda.device.detector.analyser.corba.impl">
         </package>
         <package
            name="gda.device.detector.cobolddetector">
         </package>
         <package
            name="gda.device.detector.cobolddetector.corba.impl">
         </package>
         <package
            name="gda.device.detector.corba.impl">
         </package>
         <package
            name="gda.device.detector.countertimer">
         </package>
         <package
            name="gda.device.detector.countertimer.corba.impl">
         </package>
         <package
            name="gda.device.detector.datalogger">
         </package>
         <package
            name="gda.device.detector.datalogger.corba.impl">
         </package>
         <package
            name="gda.device.detector.edxd">
         </package>
         <package
            name="gda.device.detector.etldetector.corba.impl">
         </package>
         <package
            name="gda.device.detector.hardwaretriggerable">
         </package>
         <package
            name="gda.device.detector.mar345.corba.impl">
         </package>
         <package
            name="gda.device.detector.multichannelscaler">
         </package>
         <package
            name="gda.device.detector.nxdata">
         </package>
         <package
            name="gda.device.detector.nxdetector">
         </package>
         <package
            name="gda.device.detector.nxdetector.plugin">
         </package>
         <package
            name="gda.device.detector.odccd">
         </package>
         <package
            name="gda.device.detector.odccd.corba.impl">
         </package>
         <package
            name="gda.device.detector.pco4000">
         </package>
         <package
            name="gda.device.detector.pilatus">
         </package>
         <package
            name="gda.device.detector.xmap">
         </package>
         <package
            name="gda.device.detectorfilemonitor.impl">
         </package>
         <package
            name="gda.device.digitalio">
         </package>
         <package
            name="gda.device.digitalio.corba.impl">
         </package>
         <package
            name="gda.device.displayscaleprovider">
         </package>
         <package
            name="gda.device.enumpositioner">
         </package>
         <package
            name="gda.device.enumpositioner.corba.impl">
         </package>
         <package
            name="gda.device.filterarray">
         </package>
         <package
            name="gda.device.filterarray.corba.impl">
         </package>
         <package
            name="gda.device.gpib">
         </package>
         <package
            name="gda.device.gpib.corba.impl">
         </package>
         <package
            name="gda.device.memory">
         </package>
         <package
            name="gda.device.memory.corba.impl">
         </package>
         <package
            name="gda.device.modulator">
         </package>
         <package
            name="gda.device.modulator.corba.impl">
         </package>
         <package
            name="gda.device.monitor">
         </package>
         <package
            name="gda.device.monitor.corba.impl">
         </package>
         <package
            name="gda.device.motor">
         </package>
         <package
            name="gda.device.motor.corba.impl">
         </package>
         <package
            name="gda.device.motor.simplemotor">
         </package>
         <package
            name="gda.device.robot.corba.impl">
         </package>
         <package
            name="gda.device.scannable">
         </package>
         <package
            name="gda.device.scannable.component">
         </package>
         <package
            name="gda.device.scannable.corba.impl">
         </package>
         <package
            name="gda.device.scannable.scannablegroup">
         </package>
         <package
            name="gda.device.scannable.scannablegroup.corba.impl">
         </package>
         <package
            name="gda.device.serial">
         </package>
         <package
            name="gda.device.serial.corba.impl">
         </package>
         <package
            name="gda.device.shear">
         </package>
         <package
            name="gda.device.shear.corba.impl">
         </package>
         <package
            name="gda.device.spin.corba.impl">
         </package>
         <package
            name="gda.device.temperature">
         </package>
         <package
            name="gda.device.temperature.corba.impl">
         </package>
         <package
            name="gda.device.timer">
         </package>
         <package
            name="gda.device.timer.corba.impl">
         </package>
         <package
            name="gda.events.jms">
         </package>
         <package
            name="gda.factory">
         </package>
         <package
            name="gda.factory.corba.util">
         </package>
         <package
            name="gda.function">
         </package>
         <package
            name="gda.function.lookup">
         </package>
         <package
            name="gda.function.lookup.corba.impl">
         </package>
         <package
            name="gda.icons">
         </package>
         <package
            name="gda.io">
         </package>
         <package
            name="gda.io.socket">
         </package>
         <package
            name="gda.jyinterface.factory">
         </package>
         <package
            name="gda.jyinterface.interfaces">
         </package>
         <package
            name="gda.jython">
         </package>
         <package
            name="gda.jython.accesscontrol">
         </package>
         <package
            name="gda.jython.authenticator">
         </package>
         <package
            name="gda.jython.authoriser">
         </package>
         <package
            name="gda.jython.batoncontrol">
         </package>
         <package
            name="gda.jython.commandinfo">
         </package>
         <package
            name="gda.jython.commands">
         </package>
         <package
            name="gda.jython.corba.impl">
         </package>
         <package
            name="gda.jython.externalclients">
         </package>
         <package
            name="gda.jython.scriptcontroller">
         </package>
         <package
            name="gda.jython.scriptcontroller.corba.impl">
         </package>
         <package
            name="gda.jython.scriptcontroller.event">
         </package>
         <package
            name="gda.jython.scriptcontroller.logging">
         </package>
         <package
            name="gda.jython.socket">
         </package>
         <package
            name="gda.jython.translator">
         </package>
         <package
            name="gda.observable">
         </package>
         <package
            name="gda.scan">
         </package>
         <package
            name="gda.server.beamlineConfigurationManager">
         </package>
         <package
            name="gda.server.collisionAvoidance">
         </package>
         <package
            name="gda.server.imaging">
         </package>
         <package
            name="gda.spring">
         </package>
         <package
            name="gda.spring.namespaces.corba">
         </package>
         <package
            name="gda.spring.namespaces.gda">
         </package>
         <package
            name="gda.spring.parsers">
         </package>
         <package
            name="gda.spring.propertyeditors">
         </package>
         <package
            name="gda.spring.remoting">
         </package>
         <package
            name="gda.spring.remoting.rmi">
         </package>
         <package
            name="gda.util">
         </package>
         <package
            name="gda.util.converters">
         </package>
         <package
            name="gda.util.converters.util">
         </package>
         <package
            name="gda.util.exafs">
         </package>
         <package
            name="gda.util.findableHashtable">
         </package>
         <package
            name="gda.util.findableHashtable.corba.impl">
         </package>
         <package
            name="gda.util.osgi">
         </package>
         <package
            name="gda.util.persistence">
         </package>
         <package
            name="gda.util.persistence.entity">
         </package>
         <package
            name="gda.util.simpleServlet">
         </package>
         <package
            name="gda.util.simpleServlet.corba.impl">
         </package>
         <package
            name="gda.util.userOptions">
         </package>
         <package
            name="gda.util.xml">
         </package>
         <package
            name="uk.ac.gda.client.experimentdefinition">
         </package>
         <package
            name="uk.ac.gda.client.experimentdefinition.ui.handlers">
         </package>
         <package
            name="uk.ac.gda.core">
         </package>
         <package
            name="uk.ac.gda.core.virtualaxis">
         </package>
      </packages>
   </extension>
   <extension
         point="uk.ac.diamond.daq.jython.api.visiblePackages">
      <bundle
            name="uk.ac.gda.diamond.scisoft.python">
      </bundle>
         <packages>
            <package
               name="uk.ac.gda.diamond.scisoft.python">
            </package>
      </packages>
   </extension>
   <extension
         point="uk.ac.diamond.daq.jython.api.scriptLocations">
      <location
            folder="uk.ac.gda.core/scripts"
            name="Scripts: Core">
      </location>
      <location
            folder="uk.ac.diamond.scisoft.python/src"
            name="Scripts: Scisoft">
      </location>
      <location
            folder="diffcalc.git"
            name="Scripts: Diffcalc">
      </location>
      <location
            folder="org.eclipse.scanning.command/scripts"
            name="Scripts: Scanning">
      </location>
   </extension>

   <extension
         point="org.eclipse.dawnsci.analysis.api.marshaller">
      <marshaller
            class="uk.ac.gda.core.experimentdefinition.json.mixin.CommandMarshaller"
            id="uk.ac.gda.core.experimentdefinition.json.mixin.commandMarshaller">
      </marshaller>
      <marshaller
            class="uk.ac.gda.core.experimentdefinition.json.mixin.ExperimentCommandMarshaller"
            id="uk.ac.gda.core.experimentdefinition.json.mixin.experimentCommandMarshaller">
      </marshaller>
   </extension>

</plugin>
