<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="uk.ac.diamond.daq.jython.api.jythonVisibility">
      <script_source_location
            folder="gda-core.git/uk.ac.gda.core/scripts">
      </script_source_location>
      <script_source_location
            folder="scisoft-core.git/uk.ac.diamond.scisoft.python/src">
      </script_source_location>
      <included_java_package
            package="gda.beamline.beam">
      </included_java_package>
      <included_java_package
            package="gda.beamline.beam.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.beamline.beamline">
      </included_java_package>
      <included_java_package
            package="gda.beamline.beamline.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.beamline.video">
      </included_java_package>
      <included_java_package
            package="gda.commandqueue">
      </included_java_package>
      <included_java_package
            package="gda.configuration.object">
      </included_java_package>
      <included_java_package
            package="gda.configuration.object.schema">
      </included_java_package>
      <included_java_package
            package="gda.configuration.object.xml">
      </included_java_package>
      <included_java_package
            package="gda.data">
      </included_java_package>
      <included_java_package
            package="gda.data.fileregistrar">
      </included_java_package>
      <included_java_package
            package="gda.data.fileregistrar.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.data.generalfilereaders">
      </included_java_package>
      <included_java_package
            package="gda.data.generic">
      </included_java_package>
      <included_java_package
            package="gda.data.generic.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.data.metadata">
      </included_java_package>
      <included_java_package
            package="gda.data.metadata.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.data.metadata.icat">
      </included_java_package>
      <included_java_package
            package="gda.data.nexus">
      </included_java_package>
      <included_java_package
            package="gda.data.scan.datawriter">
      </included_java_package>
      <included_java_package
            package="gda.data.scan.datawriter.scannablewriter">
      </included_java_package>
      <included_java_package
            package="gda.data.srs">
      </included_java_package>
      <included_java_package
            package="gda.device">
      </included_java_package>
      <included_java_package
            package="gda.device.adc">
      </included_java_package>
      <included_java_package
            package="gda.device.adc.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.amplifier">
      </included_java_package>
      <included_java_package
            package="gda.device.amplifier.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.auxiliary">
      </included_java_package>
      <included_java_package
            package="gda.device.bpm">
      </included_java_package>
      <included_java_package
            package="gda.device.bpm.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.camac">
      </included_java_package>
      <included_java_package
            package="gda.device.continuouscontroller">
      </included_java_package>
      <included_java_package
            package="gda.device.controlpoint">
      </included_java_package>
      <included_java_package
            package="gda.device.controlpoint.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.currentamplifier">
      </included_java_package>
      <included_java_package
            package="gda.device.currentamplifier.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.detector">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.analyser">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.analyser.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.cobolddetector">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.cobolddetector.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.countertimer">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.countertimer.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.datalogger">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.datalogger.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.edxd">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.etldetector.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.hardwaretriggerable">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.mar345.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.multichannelscaler">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.nxdata">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.nxdetector">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.nxdetector.plugin">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.odccd">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.odccd.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.pco4000">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.pilatus">
      </included_java_package>
      <included_java_package
            package="gda.device.detector.xmap">
      </included_java_package>
      <included_java_package
            package="gda.device.detectorfilemonitor.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.digitalio">
      </included_java_package>
      <included_java_package
            package="gda.device.digitalio.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.displayscaleprovider">
      </included_java_package>
      <included_java_package
            package="gda.device.enumpositioner">
      </included_java_package>
      <included_java_package
            package="gda.device.enumpositioner.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.filterarray">
      </included_java_package>
      <included_java_package
            package="gda.device.filterarray.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.gpib">
      </included_java_package>
      <included_java_package
            package="gda.device.gpib.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.memory">
      </included_java_package>
      <included_java_package
            package="gda.device.memory.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.modulator">
      </included_java_package>
      <included_java_package
            package="gda.device.modulator.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.monitor">
      </included_java_package>
      <included_java_package
            package="gda.device.monitor.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.motor">
      </included_java_package>
      <included_java_package
            package="gda.device.motor.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.motor.simplemotor">
      </included_java_package>
      <included_java_package
            package="gda.device.robot.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.scannable">
      </included_java_package>
      <included_java_package
            package="gda.device.scannable.component">
      </included_java_package>
      <included_java_package
            package="gda.device.scannable.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.scannable.scannablegroup">
      </included_java_package>
      <included_java_package
            package="gda.device.scannable.scannablegroup.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.serial">
      </included_java_package>
      <included_java_package
            package="gda.device.serial.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.shear">
      </included_java_package>
      <included_java_package
            package="gda.device.shear.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.spin.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.temperature">
      </included_java_package>
      <included_java_package
            package="gda.device.temperature.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.device.timer">
      </included_java_package>
      <included_java_package
            package="gda.device.timer.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.events.jms">
      </included_java_package>
      <included_java_package
            package="gda.factory">
      </included_java_package>
      <included_java_package
            package="gda.factory.corba.util">
      </included_java_package>
      <included_java_package
            package="gda.function">
      </included_java_package>
      <included_java_package
            package="gda.function.lookup">
      </included_java_package>
      <included_java_package
            package="gda.function.lookup.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.icons">
      </included_java_package>
      <included_java_package
            package="gda.io">
      </included_java_package>
      <included_java_package
            package="gda.io.socket">
      </included_java_package>
      <included_java_package
            package="gda.jyinterface.factory">
      </included_java_package>
      <included_java_package
            package="gda.jyinterface.interfaces">
      </included_java_package>
      <included_java_package
            package="gda.jython">
      </included_java_package>
      <included_java_package
            package="gda.jython.accesscontrol">
      </included_java_package>
      <included_java_package
            package="gda.jython.authenticator">
      </included_java_package>
      <included_java_package
            package="gda.jython.authoriser">
      </included_java_package>
      <included_java_package
            package="gda.jython.batoncontrol">
      </included_java_package>
      <included_java_package
            package="gda.jython.commandinfo">
      </included_java_package>
      <included_java_package
            package="gda.jython.commands">
      </included_java_package>
      <included_java_package
            package="gda.jython.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.jython.externalclients">
      </included_java_package>
      <included_java_package
            package="gda.jython.scriptcontroller">
      </included_java_package>
      <included_java_package
            package="gda.jython.scriptcontroller.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.jython.scriptcontroller.event">
      </included_java_package>
      <included_java_package
            package="gda.jython.scriptcontroller.logging">
      </included_java_package>
      <included_java_package
            package="gda.jython.socket">
      </included_java_package>
      <included_java_package
            package="gda.jython.translator">
      </included_java_package>
      <included_java_package
            package="gda.observable">
      </included_java_package>
      <included_java_package
            package="gda.scan">
      </included_java_package>
      <included_java_package
            package="gda.server.beamlineConfigurationManager">
      </included_java_package>
      <included_java_package
            package="gda.server.collisionAvoidance">
      </included_java_package>
      <included_java_package
            package="gda.server.imaging">
      </included_java_package>
      <included_java_package
            package="gda.spring">
      </included_java_package>
      <included_java_package
            package="gda.spring.namespaces.corba">
      </included_java_package>
      <included_java_package
            package="gda.spring.namespaces.gda">
      </included_java_package>
      <included_java_package
            package="gda.spring.parsers">
      </included_java_package>
      <included_java_package
            package="gda.spring.propertyeditors">
      </included_java_package>
      <included_java_package
            package="gda.spring.remoting">
      </included_java_package>
      <included_java_package
            package="gda.spring.remoting.rmi">
      </included_java_package>
      <included_java_package
            package="gda.util">
      </included_java_package>
      <included_java_package
            package="gda.util.converters">
      </included_java_package>
      <included_java_package
            package="gda.util.converters.util">
      </included_java_package>
      <included_java_package
            package="gda.util.exafs">
      </included_java_package>
      <included_java_package
            package="gda.util.findableHashtable">
      </included_java_package>
      <included_java_package
            package="gda.util.findableHashtable.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.util.osgi">
      </included_java_package>
      <included_java_package
            package="gda.util.persistence">
      </included_java_package>
      <included_java_package
            package="gda.util.persistence.entity">
      </included_java_package>
      <included_java_package
            package="gda.util.simpleServlet">
      </included_java_package>
      <included_java_package
            package="gda.util.simpleServlet.corba.impl">
      </included_java_package>
      <included_java_package
            package="gda.util.userOptions">
      </included_java_package>
      <included_java_package
            package="gda.util.xml">
      </included_java_package>
      <included_java_package
            package="uk.ac.gda.client.experimentdefinition">
      </included_java_package>
      <included_java_package
            package="uk.ac.gda.client.experimentdefinition.ui.handlers">
      </included_java_package>
      <included_java_package
            package="uk.ac.gda.core">
      </included_java_package>
      <included_java_package
            package="uk.ac.gda.core.virtualaxis">
      </included_java_package>
      <included_java_package
            bundle="uk.ac.gda.diamond.scisoft.python"
            package="uk.ac.gda.diamond.scisoft.python">
      </included_java_package>
   </extension>

</plugin>
