<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dawnsci.analysis.api.classregistry">
      <classregistry
            class="org.dawnsci.common.live.FileBeanClassRegistry"
            id="org.dawnsci.common.live.FileBeanClassRegistry">
      </classregistry>
   </extension>

</plugin>
