<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.pydev.extension.ui.perspective.JythonPerspective"
            icon="icons/script.png"
            id="uk.ac.gda.pydev.extension.ui.JythonPerspective"
            name="Scripts">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.gda.pydev.ScriptProjectCreator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.gda.pydev.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.gda.client.preferences.gdaroot"
            class="uk.ac.gda.pydev.ui.preferences.JythonPreferencePage"
            id="uk.ac.gda.pydev.preferences.jythonPreferences"
            name="Scripts">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.gda.pydev.actions.PreferencesHandler"
            id="uk.ac.gda.pydev.extension.preferences"
            name="Preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.python.pydev.navigator.view?after=additions">
         <command
               commandId="uk.ac.gda.pydev.extension.preferences"
               label="Preferences..."
               style="push"
               tooltip="Open preferences.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.python.pydev.navigator.view?after=additions">
         <command
               commandId="uk.ac.gda.pydev.extension.preferences"
               label="Preferences..."
               style="push"
               tooltip="Open preferences.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <command
               commandId="uk.ac.gda.pydev.extension.preferences"
               label="Preferences..."
               style="push"
               tooltip="Open preferences.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <command
               commandId="uk.ac.gda.pydev.extension.preferences"
               label="Preferences..."
               style="push"
               tooltip="Open preferences.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.navigator.ProjectExplorer">
         <separator
               name="uk.ac.gda.pydev.extension.separator1"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.gda.pydev.extension.preferences"
               icon="icons/application_view_list.png"
               label="Preferences..."
               style="push"
               tooltip="Open preferences.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="uk.ac.gda.pydev.editorContributions"
            targetID="org.python.pydev.editor.PythonEditor">
         <action
               class="uk.ac.gda.pydev.actions.ReloadScriptActionDelegate"
               icon="icons/script_lightning.png"
               id="uk.ac.gda.pydev.reloadScript"
               label="Reload"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Reloads the script in the GDA Server.">
         </action>
         <action
               class="uk.ac.gda.pydev.actions.RunScriptActionDelegate"
               icon="icons/script_go.png"
               id="uk.ac.gda.pydev.runScript"
               label="Run"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Runs the script directly in the GDA Server.">
         </action>
      </editorContribution>
   </extension>
   <extension
         id="ExtendedJythonNature"
         name="Jython Validation"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="uk.ac.gda.pydev.extension.builder.ExtendedSyntaxNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="ConfigurationXMLNature"
         name="XML"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="uk.ac.gda.pydev.extension.builder.ConfigurationXMLNature">
         </run>
      </runtime>
   </extension>

</plugin>
