<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.gda.pydev.extension.editor.ExtendedSyntaxEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="py,pyw"
            icon="icons/script_edit.png"
            id="uk.ac.gda.pydev.extension.editor.PythonEditor"
            name="Python Editor">
         <contentTypeBinding
               contentTypeId="uk.ac.gda.pydev.extension.pyOverride">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="py,pyw"
            id="uk.ac.gda.pydev.extension.pyOverride"
            name="pyOverride"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.pydev.extension.ui.perspective.JythonPerspective"
            icon="icons/script.png"
            id="uk.ac.gda.pydev.extension.ui.JythonPerspective"
            name="Scripts">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.gda.pydev.ScriptProjectCreator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.gda.pydev.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.gda.client.preferences.gdaroot"
            class="uk.ac.gda.pydev.ui.preferences.JythonPreferencePage"
            id="uk.ac.gda.pydev.preferences.jythonPreferences"
            name="Scripts">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.gda.pydev.actions.PreferencesHandler"
            id="uk.ac.gda.pydev.extension.preferences"
            name="Preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.python.pydev.navigator.view?after=additions">
         <command
               commandId="uk.ac.gda.pydev.extension.preferences"
               label="Preferences..."
               style="push"
               tooltip="Open preferences.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.python.pydev.navigator.view?after=additions">
         <command
               commandId="uk.ac.gda.pydev.extension.preferences"
               label="Preferences..."
               style="push"
               tooltip="Open preferences.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <command
               commandId="uk.ac.gda.pydev.extension.preferences"
               label="Preferences..."
               style="push"
               tooltip="Open preferences.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer?after=additions">
         <command
               commandId="uk.ac.gda.pydev.extension.preferences"
               label="Preferences..."
               style="push"
               tooltip="Open preferences.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.navigator.ProjectExplorer">
         <separator
               name="uk.ac.gda.pydev.extension.separator1"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.gda.pydev.extension.preferences"
               icon="icons/application_view_list.png"
               label="Preferences..."
               style="push"
               tooltip="Open preferences.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="uk.ac.gda.pydev.editorContributions"
            targetID="uk.ac.gda.pydev.extension.editor.PythonEditor">
         <action
               class="uk.ac.gda.pydev.actions.ReloadScriptActionDelegate"
               icon="icons/script_lightning.png"
               id="uk.ac.gda.pydev.reloadScript"
               label="Reload"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Reloads the script in the GDA Server.">
         </action>
         <action
               class="uk.ac.gda.pydev.actions.RunScriptActionDelegate"
               icon="icons/script_go.png"
               id="uk.ac.gda.pydev.runScript"
               label="Run"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Runs the script directly in the GDA Server.">
         </action>
      </editorContribution>
   </extension>
   <extension
         id="ExtendedJythonSyntaxBuilder"
         name="Jython Validation"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="uk.ac.gda.pydev.extension.builder.ExtendedSyntaxBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="ExtendedJythonNature"
         name="Jython Validation"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="uk.ac.gda.pydev.extension.builder.ExtendedSyntaxNature">
         </run>
      </runtime>
      <builder
            id="uk.ac.gda.pydev.extension.ExtendedJythonSyntaxBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/script.png"
            id="uk.ac.gda.client.jythonProjectImage"
            natureId="uk.ac.gda.pydev.extension.ExtendedJythonNature">
      </image>
      <image
            icon="icons/script_code.png"
            id="uk.ac.gda.client.xmlProjectImage"
            natureId="uk.ac.gda.pydev.extension.ConfigurationXMLNature">
      </image>
   </extension>
   <extension
         point="org.python.pydev.pydev_builder">
      <builder_participant
            class="uk.ac.gda.pydev.extension.builder.ExtendedBuilderVisitor">
      </builder_participant>
   </extension>
   <extension
         id="ConfigurationXMLNature"
         name="XML"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="uk.ac.gda.pydev.extension.builder.ConfigurationXMLNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="uk.ac.gda.pydev.extension.quickfix.ExtendedSyntaxMarkerResolution"
            markerType="org.eclipse.core.resources.problemmarker">
      </markerResolutionGenerator>
   </extension>

</plugin>
