<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sampledefinition -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opengda.lde.model.ldeexperiment.presentation.LdeexperimentModelWizardID"
            name="%_UI_LdeexperimentModelWizard_label"
            class="org.opengda.lde.model.ldeexperiment.presentation.LdeexperimentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LdeexperimentModelFile.gif">
         <description>%_UI_LdeexperimentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sampledefinition -->
      <editor
            id="org.opengda.lde.model.ldeexperiment.presentation.LdeexperimentEditorID"
            name="%_UI_LdeexperimentEditor_label"
            icon="icons/full/obj16/LdeexperimentModelFile.gif"
            extensions="ldeexperiment"
            class="org.opengda.lde.model.ldeexperiment.presentation.LdeexperimentEditor"
            contributorClass="org.opengda.lde.model.ldeexperiment.presentation.LdeexperimentActionBarContributor">
      </editor>
   </extension>

</plugin>
