<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright ©2015 Diamond Light Source Ltd
 
 This file is part of GDA.
  
 GDA is free software: you can redistribute it and/or modify it under the
 terms of the GNU General Public License version 3 as published by the Free
 Software Foundation.
 
 GDA is distributed in the hope that it will be useful, but WITHOUT ANY
 WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.
 
 You should have received a copy of the GNU General Public License along
 with GDA. If not, see <http://www.gnu.org/licenses/>.
 
 Contributors:
 	Fajin Yuan
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sampledefinition -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opengda.lde.model.ldeexperiment.presentation.LDEExperimentsModelWizardID"
            name="%_UI_LDEExperimentsModelWizard_label"
            class="org.opengda.lde.model.ldeexperiment.presentation.LDEExperimentsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LDEExperimentsModelFile.gif">
         <description>%_UI_LDEExperimentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sampledefinition -->
      <editor
            id="org.opengda.lde.model.ldeexperiment.presentation.LDEExperimentsEditorID"
            name="%_UI_LDEExperimentsEditor_label"
            icon="icons/full/obj16/LDEExperimentsModelFile.gif"
            extensions="lde"
            class="org.opengda.lde.model.ldeexperiment.presentation.LDEExperimentsEditor"
            contributorClass="org.opengda.lde.model.ldeexperiment.presentation.LDEExperimentsActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="lde, xml"
            id="org.opengda.lde.model.editor.xml"
            name="LDE files"
            priority="normal">
      </content-type>
   </extension>

</plugin>
