<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="uk.ac.gda.tomography.scan.presentation.ScanModelWizardID"
            name="%_UI_ScanModelWizard_label"
            class="uk.ac.gda.tomography.scan.presentation.ScanModelWizard"
            icon="icons/full/obj16/ScanModelFile.gif">
         <description>%_UI_ScanModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="uk.ac.gda.tomography.scan.presentation.ScanEditorID"
            name="%_UI_ScanEditor_label"
            icon="icons/full/obj16/ScanModelFile.gif"
            extensions="scan"
            class="uk.ac.gda.tomography.scan.presentation.ScanEditor"
            contributorClass="uk.ac.gda.tomography.scan.presentation.ScanActionBarContributor">
      </editor>
   </extension>

</plugin>
