<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
 <extension
         point="org.eclipse.ui.views">
      <category
            name="Data Analysis - Tomography Reconstruction"
            id="uk.ac.diamond.tomography.reconstruction">
      </category>
      <view
            name="Parameters"
            icon="icons/parameters.gif"
            category="uk.ac.diamond.tomography.reconstruction"
            class="uk.ac.diamond.tomography.reconstruction.views.ParameterView"
            id="uk.ac.diamond.tomography.reconstruction.views.ParameterView">
      </view>
      <view
            category="uk.ac.diamond.tomography.reconstruction"
            class="uk.ac.diamond.tomography.reconstruction.views.ProjectionsView"
            icon="icons/projectionsView.gif"
            id="uk.ac.diamond.tomography.reconstruction.view.projection"
            name="Projections"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.diamond.tomography.reconstruction"
            class="uk.ac.diamond.tomography.reconstruction.views.NexusNavigator"
            icon="icons/nxsNavigatorView.gif"
            id="uk.ac.diamond.tomography.reconstruction.NexusNavigator"
            name="Nexus Navigator"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.diamond.tomography.reconstruction"
            class="uk.ac.diamond.tomography.reconstruction.views.CenterOfRotationView"
            icon="icons/centreOfRotation.png"
            id="uk.ac.diamond.tomography.reconstruction.view.centreOfRotation"
            name="Centre of Rotation"
            restorable="true">
      </view>
      <view
            category="uk.ac.diamond.tomography.reconstruction"
            class="uk.ac.diamond.tomography.reconstruction.views.ReconResultsView"
            icon="icons/open_pref.gif"
            id="uk.ac.diamond.tomography.reconstruction.results"
            name="Recon Results"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.tomography.reconstruction.TomoReconPerspective"
            icon="icons/reconstrution.gif"
            id="uk.ac.diamond.tomography.reconstruction.perspective"
            name="Tomo Recon">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="uk.ac.diamond.tomography.reconstruction.NexusNavigator">
            <popupMenu
                allowsPlatformContributions="true"
                id="uk.ac.diamond.tomography.reconstruction.NexusNavigator#PopupMenu">  
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>   
             <insertionPoint name="group.edit"
                   separator="true"/>   
             <insertionPoint name="group.reorganize" />         
             <insertionPoint
                   name="group.port"
                   separator="true"/>     
             <insertionPoint
                   name="group.build"
                   separator="true"/> 
             <insertionPoint
                   name="group.generate"
                   separator="true"/> 
             <insertionPoint
                   name="group.search"
                   separator="true"/>              
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="group.properties"
                   separator="true"/>
             
          </popupMenu>
          </viewer>
          
          <!--
          <options>
             <property
                   name="org.eclipse.ui.navigator.customizeViewDialogHelpContext"
                   value="org.eclipse.ui.project_explorer_customization_dialog">
             </property>
          </options>
          -->
       <viewerContentBinding 
             viewerId="uk.ac.diamond.tomography.reconstruction.NexusNavigator">
          <includes>
       	      <contentExtension pattern="uk.ac.diamond.tomo.recon.nxs.navigatorContent" />
       	      <contentExtension pattern="org.eclipse.ui.navigator.resources.*" />
              <contentExtension
                    pattern="uk.ac.diamond.tomography.reconstruction.hidetempFilter">
              </contentExtension>
              <contentExtension
                    pattern="uk.ac.diamond.tomography.reconstruction.hideprocessingFilter">
              </contentExtension>
          </includes>
       </viewerContentBinding>
       <viewerActionBinding
            viewerId="uk.ac.diamond.tomography.reconstruction.NexusNavigator">
         <includes>
             <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />
         </includes>
       </viewerActionBinding>
       <dragAssistant
             class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
             viewerId="uk.ac.diamond.tomography.reconstruction.NexusNavigator"/>
   </extension>
   
   <extension  
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            name="Nexus File Content"
            priority="low"
            activeByDefault="true"
			            contentProvider="uk.ac.diamond.tomography.reconstruction.views.NxsNavigatorContentProvider"
            			labelProvider="uk.ac.diamond.tomography.reconstruction.views.NxsNavigatorLabelProvider"			
            id="uk.ac.diamond.tomo.recon.nxs.navigatorContent">
            <enablement>
		         <or>         
		            <instanceof 
		                  	value="org.eclipse.core.resources.IResource" /> 
		         </or>
         </enablement>
         <dropAssistant
              class="org.eclipse.ui.navigator.resources.ResourceDropAdapterAssistant"
              id="org.eclipse.ui.navigator.resources.resourceDropAdapter">
           <possibleDropTargets>
              <or>
                 <adapt type="org.eclipse.core.resources.IProject"/>
                 <adapt type="org.eclipse.core.resources.IFolder"/>
                 <adapt type="org.eclipse.core.resources.IFile"/>
              </or>
           </possibleDropTargets>
        </dropAssistant>        

       </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="uk.ac.diamond.tomography.reconstruction.views.HideTempNxsViewerFilter"
            description="Hide NeXus files in tmp folder"
            id="uk.ac.diamond.tomography.reconstruction.hidetempFilter"
            name="Hide tmp Nxs">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="uk.ac.diamond.tomography.reconstruction.views.HideProcessingNxsViewerFilter"
            description="Hide NeXus files in processing folder"
            id="uk.ac.diamond.tomography.reconstruction.hideprocessingFilter"
            name="Hide processing Nxs">
      </commonFilter>
            
            
  </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.diamond.scisoft.analysis.rcp.preferences.root"
            class="uk.ac.diamond.tomography.reconstruction.preferences.TomoReconPrefPage"
            id="uk.ac.diamond.tomography.reconstruction.prefpage"
            name="Tomo Recon">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.diamond.tomography.reconstruction.TomoReconPrefInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.diamond.tomography.reconstruction.commands.OpenPreferenceCommandHandler"
            id="uk.ac.diamond.tomography.reconstruction.openPreference"
            name="Open Preference">
         <commandParameter
               id="reconPrefPage"
               name="PreferencePageCommandParam"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="uk.ac.diamond.tomography.reconstruction.dialogs.OpenNexusFileCommandHandler"
            id="uk.ac.diamond.tomography.reconstruction.open.nexus"
            name="Open Nexus File">
         <commandParameter
               id="openWizardPageId"
               name="OpenWizardPageWizardId"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="uk.ac.diamond.tomography.reconstruction.dialogs.RefreshHandler"
            id="uk.ac.diamond.tomography.reconstruction.ref"
            name="Refresh Viewer">
         <commandParameter
               id="openWizardPageId"
               name="OpenWizardPageWizardId"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.diamond.tomography.reconstruction.view.centreOfRotation">
         <command
               commandId="uk.ac.diamond.tomography.reconstruction.openPreference"
               icon="icons/open_pref.gif"
               label="Open Preferences"
               style="push">
            <parameter
                  name="reconPrefPage"
                  value="uk.ac.diamond.tomography.reconstruction.prefpage">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.diamond.tomography.reconstruction.NexusNavigator">
         <command
               commandId="uk.ac.diamond.tomography.reconstruction.open.nexus"
               icon="icons/nexus.png"
               label="Open Nxs"
               style="push">
            <parameter
                  name="openWizardPageId"
                  value="uk.ac.diamond.tomography.reconstruction.importNxs">
            </parameter>
         </command>
         <command
               commandId="uk.ac.diamond.tomography.reconstruction.ref"
               icon="icons/refresh_tab.gif"
               label="Refresh Viewer"
               style="push">
            <parameter
                  name="openWizardPageId"
                  value="uk.ac.diamond.tomography.reconstruction.importNxs">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="uk.ac.diamond.tomography.reconstruction.dialogs.ImportSingleNxsWizard"
            icon="icons/nexus.png"
            id="uk.ac.diamond.tomography.reconstruction.importNxs"
            name="Nexus File">
      </wizard>
      <category
            id="uk.ac.diamond.tomography.reconstruction.wizards"
            name="name">
      </category>
   </extension>
   <extension
         point="org.dawnsci.introRegister">
      <introPageRegister
            class="uk.ac.diamond.tomography.reconstruction.TomoPerspectiveLaunch"
            description="Tools to reconstruct NeXus tomography data"
            icon="icons/TOMO_intro.png"
            id="uk.ac.diamond.tomography.reconstruction.intropage"
            name="(Pre-release) Tomography Reconstruction">
      </introPageRegister>
   </extension>
</plugin>
