<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!--
   <extension
         point="org.eclipse.scanning.api.device">
      <device
            class="uk.ac.diamond.daq.detectors.vgscienta.electronanalyser.ElectronAnalyserRunnableDevice"
            description="Detector resolving the energy and momentum of photoelectrons"
            icon="icons/electronAnalyser.png"
            id="uk.ac.diamond.daq.detectors.vgscienta.electronanalyser"
            label="Electron Analyser"
            model="uk.ac.diamond.daq.detectors.vgscienta.electronanalyser.api.ElectronAnalyserRunnableDeviceModel"
            name="Electron Analyser">
      </device>
   </extension>
   -->
   
</plugin>
