<plugin>  
<extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.gda.lookuptable.editor.LookupTableMultiPageEditor"
            contributorClass="uk.ac.gda.lookuptable.editor.LookupTableEditorContributor"
            extensions="txt"
            icon="icons/h_vertical.gif"
            id="uk.ac.gda.beamline.i12.editors.LookupTableEditor"
            name="Lookup Table Editor">
         <contentTypeBinding
               contentTypeId="uk.ac.gda.beamline.lookuptable">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            describer="uk.ac.gda.lookuptable.editor.LookupTableContentTypeDescriber"
            file-extensions="txt"
            id="uk.ac.gda.beamline.lookuptable"
            name="Lookup Table Content"
            priority="normal">
      </content-type>
   </extension>
	<extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="uk.ac.gda.lookuptable.wizard.category"
            class="uk.ac.gda.lookuptable.editor.importwizard.ImportLookupTableWizard"
            icon="icons/h_vertical.gif"
            id="uk.ac.gda.beamline.i12.lookuptable.import"
            name="Lookup Table">
      </wizard>
      <category
            id="uk.ac.gda.lookuptable.wizard.category"
            name="Lookup">
      </category>
   </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <commonWizard
          menuGroupId="additions"
          type="import"
          wizardId="uk.ac.gda.beamline.i12.lookuptable.import">
       <enablement>
          <and>
             <instanceof
                   value="org.eclipse.core.resources.IFile">
             </instanceof>
             <count
                   value="1">
             </count>
             <test
                   property="uk.ac.gda.lookuptable.editor.isLookupTableFile">
             </test>
          </and></enablement>
    </commonWizard>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="uk.ac.gda.lookuptable.editor.propertytester.LookupTablePropertyTester"
          id="uk.ac.gda.lookuptable.editor.isLookupTableFile"
          namespace="uk.ac.gda.lookuptable.editor"
          properties="isLookupTableFile"
          type="org.eclipse.core.resources.IFile">
    </propertyTester>
 </extension>
</plugin>
