<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.diamond.scisoft.analysis.rcp.editors.AsciiEditor"
            default="false"
            extensions="srs"
            icon="icons/page_white_paint.png"
            id="uk.ac.diamond.scisoft.analysis.rcp.editors.AsciiEditor"
            name="Ascii Data Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uk.ac.diamond.scisoft.analysis.rcp.preference.DeprecatedPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="uk.ac.diamond.scisoft.analysis.rcp.preference.PreferencePage"
            id="uk.ac.diamond.scisoft.analysis.rcp.preferences.root"
            name="DAWN">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
<!--      <editorContribution
            id="uk.ac.diamond.scisoft.analysis.rcp.nexusEditorContribution"
            targetID="uk.ac.diamond.scisoft.analysis.rcp.editors.NexusTreeEditor">
         <action
               class="uk.ac.diamond.scisoft.analysis.rcp.views.nexus.DeleteExpressionHandler"
               definitionId="uk.ac.diamond.scisoft.analysis.rcp.deleteExpression"
               icon="icons/calculator_delete.png"
               id="uk.ac.diamond.scisoft.analysis.rcp.deleteExpressionEditorAction"
               label="Delete Expression"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Delete an expression">
         </action>
         <action
               class="uk.ac.diamond.scisoft.analysis.rcp.views.nexus.AddExpressionHandler"
               definitionId="uk.ac.diamond.scisoft.analysis.rcp.addExpression"
               icon="icons/calculator_add.png"
               id="uk.ac.diamond.scisoft.analysis.rcp.addExpressionEditorAction"
               label="Add Expression"
               style="radio"
               toolbarPath="Normal/additions"
               tooltip="Add an expression of the other data sets">
         </action>
      </editorContribution>
-->
      <editorContribution
            id="uk.ac.diamond.scisoft.analysis.rcp.nexusEditorContribution"
            targetID="uk.ac.diamond.scisoft.analysis.rcp.editors.AsciiEditor">
         <action
               class="uk.ac.diamond.scisoft.analysis.rcp.views.nexus.DeleteExpressionHandler"
               definitionId="uk.ac.diamond.scisoft.analysis.rcp.deleteExpression"
               icon="icons/calculator_delete.png"
               id="uk.ac.diamond.scisoft.analysis.rcp.deleteExpressionEditorAction"
               label="Delete Expression"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Delete an expression">
         </action>
         <action
               class="uk.ac.diamond.scisoft.analysis.rcp.views.nexus.AddExpressionHandler"
               definitionId="uk.ac.diamond.scisoft.analysis.rcp.addExpression"
               icon="icons/calculator_add.png"
               id="uk.ac.diamond.scisoft.analysis.rcp.addExpressionEditorAction"
               label="Add Expression"
               style="radio"
               toolbarPath="Normal/additions"
               tooltip="Add an expression of the other data sets">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="uk.ac.diamond.scisoft.analysis.rcp"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.nexus.DataSetPlotView"
            icon="icons/chart_curve.png"
            id="uk.ac.gda.views.nexus.NexusPlotView"
            name="Data Sets">
      </view>
      <view
            name="Stats and Maths"
            icon="icons/calculator_link.png"
            category="uk.ac.diamond.scisoft.analysis.rcp"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotViewStatsAndMaths"
            id="uk.ac.diamond.scisoft.analysis.rcp.views.PlotViewStatsAndMaths"
            allowMultiple="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.diamond.scisoft.analysis.rcp"
            class="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.DataNavigator"
            icon="icons/application_view_list.png"
            id="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.ResultsNavigator"
            name="Data Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.views.nexus.AddExpressionHandler"
            id="uk.ac.diamond.scisoft.analysis.rcp.addExpression"
            name="Add Expression">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.views.nexus.DeleteExpressionHandler"
            id="uk.ac.diamond.scisoft.analysis.rcp.deleteExpression"
            name="Delete Expression">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.actions.RefreshNavigatorAction"
            id="uk.ac.diamond.scisoft.analysis.rcp.refreshNavigator"
            name="Refresh All">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.actions.OpenXmlAction"
            id="uk.ac.diamond.scisoft.analysis.rcp.openXml"
            name="Open XML">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.actions.OpenDataFileAction"
            id="uk.ac.diamond.scisoft.analysis.rcp.results.openResultsFile"
            name="Open Data">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.actions.SwitchDataSourceAction"
            id="uk.ac.diamond.scisoft.analysis.rcp.results.switchSource"
            name="Switch Source">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.nexus.LoadNexusTreeAction"
            id="uk.ac.diamond.scisoft.analysis.rcp.LoadNexusTreeAction"
            name="LoadNXTree">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.actions.DefaultDataSourceAction"
            id="uk.ac.diamond.scisoft.analysis.rcp.results.defaultSource"
            name="Default Source">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.actions.RefreshFolderAction"
            id="uk.ac.diamond.scisoft.analysis.rcp.refreshFile"
            name="Refresh Folder">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.actions.CompareDataSetsHandler"
            id="uk.ac.diamond.scisoft.analysis.rcp.compareDataSets"
            name="Compare">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.actions.NexusFilterHandler"
            id="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.NexusFilter"
            name="Nexus Filter">
      </command>
      <command
            defaultHandler="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.actions.DatFilterHandler"
            id="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.DatFilter"
            name="Dat Filter">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:uk.ac.diamond.scisoft.analysis.rcp.views.NexusTreeView">
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.LoadNexusTreeAction"
               icon="icons/folder_page.png"
               label="Load tree"
               style="push"
               tooltip="Load a NeXus tree from the filesystem">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:uk.ac.diamond.scisoft.analysis.rcp.results.navigator.ResultsNavigator">
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.refreshNavigator"
               icon="icons/page_refresh.png"
               label="Refresh All"
               style="push">
         </command>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.openXml"
               icon="icons/page_code.png"
               label="Open XML"
               style="push">
         </command>
         <separator
               name="uk.ac.diamond.scisoft.analysis.rcp.separator1"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.results.switchSource"
               label="Change data folder..."
               style="push">
         </command>
         <separator
               name="uk.ac.diamond.scisoft.analysis.rcp.separator2"
               visible="true">
         </separator>
         <menu
               label="Filter">
            <command
                  commandId="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.NexusFilter"
                  label=".nxs files"
                  style="toggle">
            </command>
            <command
                  commandId="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.DatFilter"
                  label=".dat files"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:uk.ac.diamond.scisoft.analysis.rcp.results.navigator.ResultsNavigator">
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.compareDataSets"
               icon="icons/chart_curve_go.png"
               label="Compare..."
               style="push">
         </command>
 
         <separator
               name="uk.ac.diamond.scisoft.analysis.rcp.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.search.ui.openSearchDialog"
               icon="icons/folder_explore.png"
               label="Find..."
               style="push"
               tooltip="Find a file using a wildcard search.">
         </command>
         <separator
               name="uk.ac.diamond.scisoft.analysis.rcp.separator3"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.refreshFile"
               icon="icons/folder_page_white.png"
               label="Refresh Folder"
               style="push"
               tooltip="Refreshes the current folder or parent if a file is selected.">
         </command>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.results.defaultSource"
               icon="icons/folder_brick.png"
               label="Default Data"
               style="push"
               tooltip="Set data folder to be the one for this visit.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:uk.ac.diamond.scisoft.analysis.rcp.results.navigator.ResultsNavigator">
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.refreshFile"
               icon="icons/folder_page_white.png"
               label="Refresh Folder"
               style="push"
               tooltip="Refreshes the current folder or parent if a file is selected.">
         </command>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.refreshNavigator"
               icon="icons/page_refresh.png"
               label="Refresh All"
               style="push">
         </command>
         <separator
               name="uk.ac.diamond.scisoft.analysis.rcp.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.search.ui.openSearchDialog"
               icon="icons/folder_explore.png"
               label="Find..."
               style="push"
               tooltip="Find a file using a wildcard search.">
         </command>
         <separator
               name="uk.ac.diamond.scisoft.analysis.rcp.separator3"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.compareDataSets"
               icon="icons/chart_curve_go.png"
               label="Compare..."
               style="push">
         </command>
         <separator
               name="uk.ac.diamond.scisoft.analysis.rcp.separator2"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.results.switchSource"
               label="Change data folder..."
               style="push">
         </command>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.openXml"
               icon="icons/page_code.png"
               label="Open XML"
               style="push"
               tooltip="If there is an xml node in the nexus file.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:uk.ac.gda.views.nexus.NexusPlotView">
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.addExpression"
               icon="icons/calculator_add.png"
               label="Add Expression"
               style="push"
               tooltip="Adds an expression which can be plotted. Must be function of other data sets.">
         </command>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.deleteExpression"
               icon="icons/calculator_delete.png"
               label="Delete Expression"
               style="push"
               tooltip="Deletes an expression.">
         </command>
         <separator
               name="uk.ac.diamond.scisoft.analysis.rcp.separator1"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.preference.preferenceDialog"
               icon="icons/application_view_list.png"
               label="Preferences..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:uk.ac.gda.views.nexus.NexusPlotView">
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.addExpression"
               icon="icons/calculator_add.png"
               label="Add Expression"
               style="push"
               tooltip="Adds an expression which can be plotted. Must be function of other data sets.">
         </command>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.deleteExpression"
               icon="icons/calculator_delete.png"
               label="Delete Expression"
               style="push"
               tooltip="Deletes an expression.">
         </command>
         <separator
               name="uk.ac.diamond.scisoft.analysis.rcp.separator2"
               visible="true">
         </separator>
         <command
               commandId="uk.ac.diamond.scisoft.analysis.rcp.preference.preferenceDialog"
               label="Preferences..."
               style="push">
         </command>
      </menuContribution>
     <menuContribution
           locationURI="toolbar:org.eclipse.search.ui.views.SearchView">
        <command
              commandId="uk.ac.diamond.scisoft.analysis.rcp.compareDataSets"
              icon="icons/chart_curve_go.png"
              label="Compare..."
              style="push">
        </command>
     </menuContribution>
     <menuContribution
           locationURI="popup:org.eclipse.search.ui.views.SearchView">
        <command
              commandId="uk.ac.diamond.scisoft.analysis.rcp.compareDataSets"
              icon="icons/chart_curve_go.png"
              label="Compare..."
              style="push">
        </command>
     </menuContribution>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.search.DataSearch"
            icon="icons/folder_explore.png"
            id="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.search.dataSearch"
            label="Data"
            tabPosition="0">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.search.DataSearchResultPage"
            icon="icons/folder_explore.png"
            id="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.search.dataSearchPage"
            searchResultClass="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.search.DataSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
<!--
      <objectContribution
            adaptable="true"
            id="uk.ac.diamond.scisoft.analysis.rcp.compareObjectContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="uk.ac.diamond.scisoft.analysis.rcp.results.navigator.actions.CompareDataSetsHandler"
               enablesFor="+"
               icon="icons/chart_curve_go.png"
               id="uk.ac.diamond.scisoft.analysis.rcp.compareDataSetsDelegate"
               label="Compare..."
               tooltip="Compare files">
         </action>
      </objectContribution>
-->
   </extension>
</plugin>
