<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
			    http://www.diamond.ac.uk/schema/gda/corba http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="file:${gda.config}/properties/java.properties" />
	</bean>
	
	<bean class="gda.spring.FindableNameSetterPostProcessor" />

	<bean id="GDAMetadata" class="gda.data.metadata.GdaMetadata"/>
	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<!-- Replaces ScanDataStore -->
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="gda/ScanDataPointServer" />
		<property name="service" value="#{ T(gda.scan.ScanDataPointServer).getInstance() }" />
		<property name="serviceInterface" value="gda.scan.IScanDataPointServer" />
	</bean>


	<bean id="plot_server" class="uk.ac.diamond.scisoft.analysis.plotserver.PlotServerBase"/>


	<bean id="jythonServerFacade" class="gda.jython.JythonServerFacade">
		<constructor-arg ref="command_server" />
	</bean>

	<bean id="command_server" class="gda.jython.JythonServer">
		<property name="jythonScriptPaths">
			<bean class="gda.jython.ScriptPaths">
				<property name="projects">
					<list>
						<bean class="gda.jython.ScriptProject">
							<property name="path" value="${gda.config}/users/scripts" />
							<property name="name" value="Scripts: User" />
							<property name="type" value="USER" />
						</bean>
						<bean class="gda.jython.ScriptProject">
							<property name="path" value="${gda.config}/scripts" />
							<property name="name" value="Scripts: Config" />
							<property name="type" value="CONFIG" />
						</bean>
						<bean class="gda.jython.ScriptProject">
							<property name="path" value="${gda.install.git.loc}/gda-core.git/uk.ac.gda.core/scripts" />
							<property name="name" value="Scripts: Core" />
							<property name="type" value="CORE" />
						</bean>
					</list>
				</property>
				<property name="startupScript" value="${gda.config}/scripts/localStation.py" />
			</bean>
		</property>
		<property name="gdaVarDirectory" value="${gda.config}/var" />
		<property name="cacheDirectory" value="${gda.config}/var/jythonCache" />
		<property name="remotePort" value="9999" />
	</bean>
	<import resource="commandQueueProcessor.xml"/>

<!--for an 'empty' configuration, remove the imports below, and the other xml files and directories inside the xml/server directory-->
	<import resource="demonstration.xml" />     
	<import resource="jack.xml" />     
	<import resource="jaw.xml" />     
	<import resource="LoggingScriptController.xml" />     
	<corba:export namespace="gda" />     


</beans>
