<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:corba="http://www.diamond.ac.uk/schema/gda/corba"
	xmlns:gda="http://www.diamond.ac.uk/schema/gda/gda"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.diamond.ac.uk/schema/gda/corba
	http://www.diamond.ac.uk/schema/gda/corba/gda-corba-1.0.xsd
	http://www.diamond.ac.uk/schema/gda/gda
	http://www.diamond.ac.uk/schema/gda/gda/gda-gda-1.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd" >

	<context:property-placeholder location="file:${gda.config}/properties/${gda.mode}/${gda.mode}_instance_java.properties" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list value-type="java.lang.String">
				<value>file:${gda.config}/properties/${gda.mode}/${gda.mode}_instance_java.properties</value>
				<value>file:${gda.config}/properties/_common/common_instance_java.properties</value>
			</list>
		</property>
	</bean>
	

	<bean class="gda.spring.FindableNameSetterPostProcessor" />

	<bean id="GDAMetadata" class="gda.data.metadata.GdaMetadata"/>
	<bean id="GDAHashtable" class="gda.util.findableHashtable.FindableHashtable" />

	<!--  object to provide recording of metadata in Nexus files -->
	<bean id="metashop" class="gda.data.metadata.NXMetaDataProvider">
		<property name="name" value="metashop"/>
	</bean>

	<!-- Replaces ScanDataStore -->
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="gda/ScanDataPointServer" />
		<property name="service" value="#{ T(gda.scan.ScanDataPointServer).getInstance() }" />
		<property name="serviceInterface" value="gda.scan.IScanDataPointServer" />
	</bean>

	<bean id="plot_server" class="uk.ac.diamond.scisoft.analysis.plotserver.PlotServerBase"/>

	<import resource="commandQueueProcessor.xml"/>

	<!--for an 'empty' configuration, remove the imports below, and the other xml files and directories inside the xml/server directory-->
	<import resource="demonstration.xml" />
	<import resource="jack.xml" />
	<import resource="jaw.xml" />
	<import resource="detectors.xml" />
	<import resource="LoggingScriptController.xml" />
	<import resource="scriptcontroller.xml" />
	<import resource="../mvc_example_model.xml"/>
	<import resource="devices/mapping_motors.xml"/>

<!-- do not remove anything below here -->
	<import resource="jythonServerFacade.xml" />
	<corba:export namespace="gda" />

	<import resource="file:${gda.config}/servers/main/_common/server.xml" />

</beans>
