<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/uk.ac.gda.devices.excalibur.test/src/uk/ac/gda/devices/excalibur/equalization/ExcaliburEqualizationHelperTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="${project_loc:hdf.hdf5lib}/lib/${target.os}-${target.arch}:${project_loc:uk.ac.gda.common}/lib/${target.os}-${target.arch}"/>
<mapEntry key="Path" value="${project_loc:hdf.hdf5lib}\lib\${target.os}-${target.arch};${project_loc:uk.ac.gda.common}\lib\${target.os}-${target.arch}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uk.ac.gda.devices.excalibur.equalization.ExcaliburEqualizationHelperTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="uk.ac.gda.devices.excalibur.test"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DGDALargeTestFilesLocation=${GDALargeTestFiles_loc}"/>
</launchConfiguration>
