<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="uk.ac.gda.jython.visible_packages" name="Jython Visible Packages" schema="schema/uk.ac.gda.jython.visible_packages.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="gda.server.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.server.application"
            name="GDA Server">
      </product>
   </extension>
   <extension
         point="uk.ac.gda.jython.visible_packages">
      <visible_package
            package="gda.device">
      </visible_package>
   </extension>

</plugin>
