<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.gda.devices.hplc.ui.HplcSessionBeanEditor"
            default="true"
            icon="icons/sample.gif"
            id="uk.ac.gda.devices.hplc.beans.HplcSessionBeanEditor"
            name="HPLC Session Editor">
         <contentTypeBinding
               contentTypeId="uk.ac.gda.devices.hplc.HplcFileType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.devices.hplc.ui.HplcSessionBeanDescriber"
            file-extensions="xml, hplc"
            id="uk.ac.gda.devices.hplc.HplcFileType"
            name="HPLC File Content"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.devices.hplc.perspectives.HplcSetupPerspective"
            id="uk.ac.gda.devices.hplc.hplcsetupperspective"
            name="HPLC Setup">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="uk.ac.gda.devices.hplc"
            class="uk.ac.gda.devices.hplc.wizards.HplcSessionWizard"
            icon="icons/sample.gif"
            id="uk.ac.gda.devices.hplc.newHplcExperiment"
            name="HPLC Experiment">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="uk.ac.gda.devices.hplc.hplccommands">
            <command
                  commandId="uk.ac.gda.devices.hplc.LoadExperiment"
                  icon="icons/sample.gif"
                  label="Import Excel Spreadsheet"
                  mode="FORCE_TEXT"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="uk.ac.gda.devices.hplc.perspectives.isHplcPerspectiveDefinition">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.gda.devices.hplc.ui.handlers.ImportSpreadsheetHandler"
            id="uk.ac.gda.devices.hplc.LoadExperiment"
            name="Load Experiment">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="uk.ac.gda.devices.hplc.perspectives.isHplcPerspectiveDefinition">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <test
                  forcePluginActivation="true"
                  property="uk.ac.gda.devices.hplc.perspectives.PerspectivePropertyTester.isKnownPerspective">
            </test>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="uk.ac.gda.devices.hplc.perspectives.PerspectivePropertyTester"
            id="uk.ac.gda.devices.bssc.perspectives.PerspectivePropertyTester"
            namespace="uk.ac.gda.devices.hplc.perspectives.PerspectivePropertyTester"
            properties="isKnownPerspective"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="uk.ac.gda.devices.hplc.perspectives.HplcStartUp">
      </startup>
   </extension>

</plugin>
