<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opengda.detector.electronanalyser.model.regiondefinition.presentation.RegiondefinitionModelWizardID"
            name="%_UI_RegiondefinitionModelWizard_label"
            class="org.opengda.detector.electronanalyser.model.regiondefinition.presentation.RegiondefinitionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RegiondefinitionModelFile.gif">
         <description>%_UI_RegiondefinitionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.opengda.detector.electronanalyser.model.regiondefinition.presentation.RegiondefinitionEditorID"
            name="%_UI_RegiondefinitionEditor_label"
            icon="icons/full/obj16/RegiondefinitionModelFile.gif"
            extensions="regiondefinition"
            class="org.opengda.detector.electronanalyser.model.regiondefinition.presentation.RegiondefinitionEditor"
            contributorClass="org.opengda.detector.electronanalyser.model.regiondefinition.presentation.RegiondefinitionActionBarContributor">
      </editor>
   </extension>

</plugin>
