<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.opengda.org/regiondefinition"
            class="org.opengda.detector.electronanalyser.model.regiondefinition.provider.RegiondefinitionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated regiondefinition -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.opengda.detector.electronanalyser.model.regiondefinition.presentation.RegiondefinitionModelWizardID"
            name="%_UI_RegiondefinitionModelWizard_label"
            class="org.opengda.detector.electronanalyser.model.regiondefinition.presentation.RegiondefinitionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RegiondefinitionModelFile.gif">
         <description>%_UI_RegiondefinitionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated regiondefinition -->
      <editor
            id="org.opengda.detector.electronanalyser.model.regiondefinition.presentation.RegiondefinitionEditorID"
            name="%_UI_RegiondefinitionEditor_label"
            icon="icons/full/obj16/RegiondefinitionModelFile.gif"
            extensions="seq"
            class="org.opengda.detector.electronanalyser.model.regiondefinition.presentation.RegiondefinitionEditor"
            contributorClass="org.opengda.detector.electronanalyser.model.regiondefinition.presentation.RegiondefinitionActionBarContributor">
      </editor>
   </extension>
</plugin>
