<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///uk/ac/gda/excalibur/config/model.ecore"
            class="uk.ac.gda.excalibur.config.model.ExcaliburConfigPackage"
            genModel="model/excaliburConfig.genmodel"/>
   </extension>
   <extension
         point="uk.ac.diamond.daq.jython.api.scriptLocations">
      <location
            folder="uk.ac.gda.devices.excalibur/scripts">
      </location>
   </extension>

</plugin>
