<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.gda.exafs.ui.detector.vortex.VortexView"
            id="uk.ac.gda.client.exafs.vortex.view"
            name="Vortex"
            restorable="true">
      </view>
      <view
            category="uk.ac.gda.client.exafs.category"
            class="uk.ac.gda.exafs.ui.views.scalersmonitor.XmapI1MonitorView"
            icon="icons/control_play_blue.png"
            id="uk.ac.gda.exafs.ui.views.xmapi1monitor"
            name="XES Xmap Rates"
            restorable="true">
      </view>
      <view
            category="uk.ac.gda.client.exafs.category"
            class="uk.ac.gda.exafs.ui.views.scalersmonitor.XmapMonitorView"
            icon="icons/control_play_blue.png"
            id="uk.ac.gda.exafs.ui.views.xmapmonitor"
            name="Xmap Monitor"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.exafs.ui.detector.vortex.Xspress3View"
            id="uk.ac.gda.client.vortex.xspress3"
            name="Xspress 3"
            restorable="true">
      </view>
   </extension>
   <extension
         point="uk.ac.common.beans.factory">
      <bean
            class="uk.ac.gda.beans.vortex.VortexParameters"
            describer="uk.ac.gda.exafs.ui.describers.VortexDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.vortex.Xspress3Parameters"
            describer="uk.ac.gda.exafs.ui.describers.Xspress3Describer">
      </bean>
   </extension>
   <extension
         point="uk.ac.gda.richbeans.beantypes">
      <describer
            bean="uk.ac.gda.beans.vortex.VortexParameters"
            contentType="uk.ac.diamond.gda.client.exafs.getVortexContent"
            includeInNew="false"
            name="Vortex"
            template="Vortex_Parameters"
            type="UNREGISTERED">
      </describer>
      <describer
            bean="uk.ac.gda.beans.vortex.Xspress3Parameters"
            contentType="uk.ac.diamond.gda.client.exafs.getXspress3Content"
            includeInNew="false"
            name="Xspress3"
            template="Xspress3_Parameters"
            type="UNREGISTERED">
      </describer>
   </extension>

</plugin>
