<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Diagnostics"
            id="uk.ac.gda.client.categories.diagnostics">
      </category>
      <view
            category="uk.ac.gda.client.categories.diagnostics"
            class="uk.ac.gda.client.logpanel.view.LogpanelView"
            icon="icons/application_error.png"
            id="uk.ac.gda.client.logpanel.view"
            name="Logpanel">
      </view>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="uk.ac.gda.client.logpanel.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.client.logpanel.Perspective"
            icon="icons/application_error.png"
            id="uk.ac.gda.client.logpanel.perspective"
            name="Logging">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.logpanel.application"
            name="GDA Logpanel">
         <property
               name="windowImages"
               value="icons/GDAlogos/GDALogo16.png,icons/GDAlogos/GDALogo32.png,icons/GDAlogos/GDALogo48.png,icons/GDAlogos/GDALogo64.png,icons/GDAlogos/GDALogo128.png">
         </property>
         <property
               name="appName"
               value="GDA Logpanel">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.gda.client.logpanel.view">
         <control
               class="uk.ac.gda.client.logpanel.view.MinLogLevelCombo"
               id="uk.ac.gda.client.logpanel.view.MinLogLevelCombo">
         </control>
         <command
               commandId="uk.ac.gda.client.logpanel.commands.copy"
               icon="icons/copy_edit_on.gif"
               label="Copy Selected"
               mnemonic="C"
               mode="FORCE_TEXT"
               style="push"
               tooltip="Copy selected messages to system clipboard">
         </command>
         <command
               commandId="uk.ac.gda.client.logpanel.commands.clear"
               icon="icons/console_clear.gif"
               label="Clear All"
               mnemonic="l"
               mode="FORCE_TEXT"
               style="push"
               tooltip="Delete contents (of this panel only)">
         </command>
         <command
               commandId="uk.ac.gda.client.logpanel.commands.scrollLock"
               icon="icons/scroll_lock.gif"
               label="Lock Scrolling"
               mnemonic="S"
               mode="FORCE_TEXT"
               style="toggle"
               tooltip="Stop scrolling to reveal latest messages as they are received">
         </command>
      </menuContribution>
<!--
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="uk.ac.gda.client.logpanel.toolbar"
               label="Logpanel">
            <command
                  commandId="uk.ac.gda.client.logpanel.commands.clear"
                  icon="icons/console_clear.gif"
                  style="push"
                  tooltip="Clear Log">
            </command>
            <command
                  commandId="uk.ac.gda.client.logpanel.commands.scrollLock"
                  icon="icons/scroll_lock.gif"
                  style="toggle"
                  tooltip="Scroll Lock">
            </command>
         </toolbar>
      </menuContribution>
-->
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="uk.ac.gda.client.categories.diagnostics.logpanel.commands"
            name="Logpanel">
      </category>
      <command
            categoryId="uk.ac.gda.client.categories.diagnostics.logpanel.commands"
            defaultHandler="uk.ac.gda.client.logpanel.commands.ClearHandler"
            id="uk.ac.gda.client.logpanel.commands.clear"
            name="Clear Log">
      </command>
      <command
            categoryId="uk.ac.gda.client.categories.diagnostics.logpanel.commands"
            defaultHandler="uk.ac.gda.client.logpanel.commands.ScrollLockHandler"
            id="uk.ac.gda.client.logpanel.commands.scrollLock"
            name="Scroll Lock">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="uk.ac.gda.client.logpanel.commands.scrollLock.toggleState">
         </state>
      </command>
      <command
            categoryId="uk.ac.gda.client.categories.diagnostics.logpanel.commands"
            defaultHandler="uk.ac.gda.client.logpanel.commands.CopyToClipboardHandler"
            description="Copy selected messages to system clipboard"
            id="uk.ac.gda.client.logpanel.commands.copy"
            name="Copy">
      </command>
   </extension>

</plugin>
