<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="uk.ac.gda.richbeans.beantypes">
      <describer
            bean="uk.ac.gda.beans.vortex.VortexParameters"
            contentType="uk.ac.diamond.gda.client.exafs.getVortexContent"
            includeInNew="false"
            name="Vortex"
            template="Vortex_Parameters"
            type="UNREGISTERED">
      </describer>
      <describer
            bean="uk.ac.gda.beans.vortex.Xspress3Parameters"
            contentType="uk.ac.diamond.gda.client.exafs.getXspress3Content"
            includeInNew="false"
            name="Xspress3"
            template="Xspress3_Parameters"
            type="UNREGISTERED">
      </describer>
      <describer
            bean="uk.ac.gda.beans.xspress.XspressParameters"
            contentType="uk.ac.diamond.gda.client.exafs.getXspressContent"
            includeInNew="false"
            name="Xspress"
            template="Xspress_Parameters"
            type="UNREGISTERED">
      </describer>
      <describer
            bean="uk.ac.gda.beans.medipix.MedipixParameters"
            includeInNew="true"
            name="Medipix parameters"
            template="Medipix_Parameters"
            type="MedipixParameters">
      </describer>
   </extension>
   
</plugin>
