<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.scanning.device.ui"
            name="Scanning">
      </category>
      <view
            category="org.eclipse.scanning.device.ui"
            class="org.eclipse.scanning.device.ui.vis.StreamView"
            icon="icons/image.png"
            id="org.eclipse.scanning.device.ui.vis.StreamView"
            name="Streams"
            restorable="true">
      </view>
      <view
            category="org.eclipse.scanning.device.ui"
            class="org.eclipse.scanning.device.ui.device.MonitorView"
            icon="icons/magnifier.png"
            id="org.eclipse.scanning.device.ui.device.MonitorView"
            name="Monitors">
      </view>
   </extension>
    <extension
          point="org.eclipse.scanning.api.stream">
       <stream
             icon="icons/camera-lens.png"
             id="org.eclipse.scanning.device.ui.simulationStream"
             label="Simulation"
             stream="org.eclipse.scanning.device.ui.vis.SimulationConnection">
       </stream>
    </extension>

</plugin>
