<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.dawnsci.webintro.item">
      <introAction
            class="uk.ac.diamond.tomography.reconstruction.dawn.TomoPerspectiveLaunch"
            description="Launch the Tomo Reconstruction perspective"
            icon="icons/TOMO_intro.png"
            id="uk.ac.diamond.tomography.reconstruction.introAction1"
            name="Tomo Reconstruction"
            parent_id="science_tomography">
      </introAction>
   </extension>

</plugin>
