<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="uk.ac.diamond.daq.client.gui.camera.CameraConfigurationView"
            icon="icons/camera.png"
            id="uk.ac.diamond.daq.client.gui.camera.CameraConfigurationView"
            name="Camera Configuration"
            restorable="true">
      </view>
</extension>
</plugin>
