<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="uk.ac.gda.microfocus.display.detectorfile" name="Detector file" schema="schema/uk.ac.gda.microfocus.display.detectorfile.exsd"/>
   <extension-point id="uk.ac.gda.microfocus.display.default.detectorfile" name="Default detector File" schema="schema/uk.ac.gda.microfocus.display.default.detectorFile.exsd"/>
   <extension-point id="uk.ac.gda.microfocus.xScannableName" name="X Scannable Name" schema="schema/uk.ac.gda.microfocus.xScannableName.exsd"/>
   <extension-point id="uk.ac.gda.microfocus.yScannableName" name="Y Scannable Name" schema="schema/uk.ac.gda.microfocus.yScannableName.exsd"/>
   <extension-point id="uk.ac.gda.microfocus.zScannableName" name="Z Scannable Name" schema="schema/uk.ac.gda.microfocus.zScannableName.exsd"/>
   <extension-point id="uk.ac.gda.microfocus.trajectory.xScannableName" name="TrajectoryXScannableName" schema="schema/uk.ac.gda.microfocus.trajectory.xScannableName.exsd"/>
   <extension-point id="uk.ac.gda.microfocus.trajectory.counterTimerName" name="TrajectoryCounterTimerName" schema="schema/uk.ac.gda.microfocus.trajectory.counterTimerName.exsd"/>
   <extension-point id="uk.ac.microfocus.elementlist.refresh" name="View ids for refresh on focus" schema="schema/uk.ac.microfocus.elementlist.refresh.exsd"/>
  <extension point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.gda.client.microfocus.ui.editors.MicroFocusScanParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/DetectorParametersIcon.png"
            id="uk.ac.gda.client.microfocus.ui.editors.MicroFocusScanParametersEditor"
            name="MicroFocus Scan">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.microfocus.getMicroFocusContent">
         </contentTypeBinding>
      </editor>
  </extension>
  <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.microfocus.ui.describers.MicroFocusScanParametersDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.microfocus.getMicroFocusContent"
            name="MicroFocus Scan Content"
            priority="high">
      </content-type>
  </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.client.microfocus.ui.MicroFocusPerspective"
            id="uk.ac.gda.microfocus.ui.MicroFocusPerspective"
            name="Microfocus">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="uk.ac.gda.client.microfocus.category"
            class="uk.ac.gda.client.microfocus.views.scan.MicroFocusElementListView"
            id="uk.ac.gda.client.microfocus.ElementListView"
            name="Elements"
            restorable="true">
      </view>
      <view
            category="uk.ac.gda.client.microfocus.category"
            class="uk.ac.gda.client.microfocus.views.ExafsSelectionView"
            id="uk.ac.gda.client.microfocus.SelectExafsView"
            name="Exafs Selection"
            restorable="true">
      </view>
      <view
            category="uk.ac.gda.client.microfocus.category"
            class="uk.ac.gda.client.microfocus.views.SampleStagePositionControlView"
            id="uk.ac.gda.client.microfocus.views.SamplePositionView"
            name="Sample Stage Positions"
            restorable="true">
      </view>
      <category
            id="uk.ac.gda.client.microfocus.category"
            name="Data Acquisition - MicroFocus">
      </category>
      <view
            category="uk.ac.gda.client.microfocus.category"
            class="uk.ac.gda.client.microfocus.views.CameraFocusZoomControlView"
            id="uk.ac.gda.client.microfocus.CameraFocusZoomControlView"
            name="Camera Focus and Zoom"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Load Command"
            id="uk.ac.gda.client.microfocus.LoadFileCommand"
            name="Load File">
      </command>
      <command
            id="uk.ac.gda.client.microfocus.AddExafsScanCommand"
            name="AddExafsScan">
      </command>
      <command
            description="Delete Exafs scan"
            id="uk.ac.gda.client.microfocus.DeleteExafsScanCommand"
            name="Delete Exafs Scan">
      </command>
      <command
            id="uk.ac.gda.client.microfocus.UpdateExafsScanCommand"
            name="UpdateMultiScan">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:uk.ac.gda.client.microfocus.ElementListView?after=additions">
         <command
               commandId="uk.ac.gda.client.microfocus.LoadFileCommand"
               icon="icons/folder_image.png"
               id="uk.ac.gda.client.microfocus.toolbars.VortexElementListLoadView"
               style="push"
               tooltip="load">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:uk.ac.gda.client.microfocus.SelectExafsView?after=additions">
         <command
               commandId="uk.ac.gda.client.microfocus.AddExafsScanCommand"
               icon="icons/chart_line_add.png"
               id="uk.ac.gda.client.microfocus.toolbars.AddExafsScan"
               label="Add Scan"
               style="push">
         </command>
         <command
               commandId="uk.ac.gda.client.microfocus.DeleteExafsScanCommand"
               icon="icons/chart_line_delete.png"
               id="uk.ac.gda.client.microfocus.toolbars.DeleteExafsScan"
               label="Remove Scan"
               style="push">
         </command>
         <command
               commandId="uk.ac.gda.client.microfocus.UpdateExafsScanCommand"
               icon="icons/page_refresh.png"
               id="uk.ac.gda.client.microfocus.toolbars.UpdateExafsScan"
               label="Create / Update Multiscan"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uk.ac.gda.client.microfocus.ui.commands.LoadFileHandler"
            commandId="uk.ac.gda.client.microfocus.LoadFileCommand">
      </handler>
      <handler
            class="uk.ac.gda.client.microfocus.ui.commands.AddExafsScanCommandHandler"
            commandId="uk.ac.gda.client.microfocus.AddExafsScanCommand">
      </handler>
      <handler
            class="uk.ac.gda.client.microfocus.ui.commands.DeleteExafsScanCommandHandler"
            commandId="uk.ac.gda.client.microfocus.DeleteExafsScanCommand">
      </handler>
      <handler
            class="uk.ac.gda.client.microfocus.ui.commands.UpdateExafsScanCommandHandler"
            commandId="uk.ac.gda.client.microfocus.UpdateExafsScanCommand">
      </handler>
   </extension>

   <extension point="org.eclipse.scanning.api.resultsHandler">
      <resultsHandler class="uk.ac.gda.client.microfocus.ui.commands.OpenResultsHandler"/>
   </extension>
   <extension
         point="uk.ac.gda.richbeans.beantypes">
      <describer
            bean="uk.ac.gda.beans.microfocus.MicroFocusScanParameters"
            commandId="uk.ac.gda.client.exafs.CopyMICROFOCUSCommand"
            contentType="uk.ac.diamond.gda.client.microfocus.getMicroFocusContent"
            includeInNew="true"
            name="Micro Focus"
            template="MicroFocus_Parameters"
            type="Scan">
      </describer>
   </extension>
   <extension
         point="uk.ac.common.beans.factory">
      <bean
            class="uk.ac.gda.beans.microfocus.MicroFocusScanParameters"
            describer="uk.ac.gda.microfocus.ui.describers.MicroFocusScanParametersDescriber">
      </bean>
   </extension>

</plugin>
