<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="GDA"
            id="uk.ac.gda.client.general">
      </category>
      <view
            name="Command info View"
            icon="icons/sample.gif"
            category="uk.ac.gda.client.general"
            class="uk.ac.gda.client.commandinfo.ui.CommandInfoView"
            id="uk.ac.gda.client.commandinfo.ui.CommandInfoView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
