<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="CLASSPATH" value="${project_classpath}"/>
        <mapEntry key="JAVA_HOME" value="${system_property:java.home}"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/usr/bin/make"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/uk.ac.gda.common/libgda_common}"/>
</launchConfiguration>
