<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.diamond.tomo.highrestomo.ui.editors.HighResTomoEditor"
            default="true"
            id="org.diamond.tomo.highrestomo.ui.editors.HighResTomoEditor"
            name="Tomo Editor">
         <contentTypeBinding
               contentTypeId="org.diamond.tomo.highrestomo.beans.getExampleContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.client.tomo.basic.beans.BasicTomographyParametersEditor"
            default="true"
            id="uk.ac.gda.client.tomo.basic.beans.BasicTomographyParametersEditor"
            name="Basic Tomography Editor">
         <contentTypeBinding
               contentTypeId="uk.ac.gda.client.tomo.basic.beans.getBasicTomographyContent">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="org.diamond.tomo.highrestomo.beans.HighResTomoDescriber"
            file-extensions="xml"
            id="org.diamond.tomo.highrestomo.beans.getExampleContent"
            name="name"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.client.tomo.basic.beans.BasicTomographyParametersDescriber"
            file-extensions="xml"
            id="uk.ac.gda.client.tomo.basic.beans.getBasicTomographyContent"
            name="name"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="uk.ac.gda.client.tomo.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="uk.ac.gda.client.tomo.commands.category"
            id="uk.ac.gda.client.tomo.commands.sampleCommand"
            name="Run Basic Tomography">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uk.ac.gda.client.tomo.handlers.SampleHandler"
            commandId="uk.ac.gda.client.tomo.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="uk.ac.gda.client.tomo.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="uk.ac.gda.client.tomo.menus.sampleMenu"
               label="Run Experiments"
               mnemonic="M">
            <command
                  commandId="uk.ac.gda.client.tomo.commands.sampleCommand"
                  id="uk.ac.gda.client.tomo.menus.sampleCommand"
                  mnemonic="S">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="uk.ac.gda.client.tomo.basic.beans.BasicTomographyParametersEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.gda.client.tomo.perspective.TomographyPerspective"
            fixed="false"
            id="uk.ac.gda.client.tomo.perspective"
            name="Tomo">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="uk.ac.gda.client.tomo.view.category"
            name="Tomography">
      </category>
      <view
            allowMultiple="false"
            category="uk.ac.gda.client.tomo.view.category"
            class="uk.ac.gda.client.tomo.alignment.view.factory.TomoAlignmentViewFactory:tomoAlignmentViewHolder"
            id="uk.ac.gda.client.tomo.alignment.view"
            name="Tomography Alignment"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="uk.ac.gda.client.tomo.view.category"
            class="uk.ac.gda.client.tomo.configuration.view.factory.TomoConfigurationViewFactory:tomoConfigurationViewHolder"
            id="uk.ac.gda.client.tomo.configuration.view"
            name="Tomography Configuration"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.gda.client.preferences.gdaroot"
            class="uk.ac.gda.client.tomo.preferences.TomoAlignmentPreferencePage"
            id="uk.ac.gda.client.tomo.tomoalignment.prefpage"
            name="Tomo Alignment">
      </page>
   </extension>
    <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            factory="uk.ac.gda.client.tomo.TomoConfigTransactionEditingDomainFactory"
            id="uk.ac.gda.tomography.config.editingDomain">
      </editingDomain>
   </extension>
    <extension
          point="org.eclipse.ui.contexts">
       <context
             description="Multiple Vertical Motor Context"
             id="uk.ac.gda.tomography.multiple.vertical.motors.context"
             name="Multiple Vertical Motor Context">
       </context>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="uk.ac.gda.client.tomo.alignment.view.command.handlers.OpenTomoAlignmentPrefCommandHandler"
             id="uk.ac.gda.client.tomo.alignment.pref.open"
             name="Tomo Alignment Open Preferences">
       </command>
       <command
             defaultHandler="uk.ac.gda.client.tomo.alignment.view.command.handlers.ResetDetectorCommandHandler"
             id="uk.ac.gda.client.tomo.alignment.detector.reset"
             name="Reset Detector">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="toolbar:uk.ac.gda.client.tomo.alignment.view">
          <control
                class="uk.ac.gda.client.tomo.composites.TomoAlignmentToolbarComposite">
             <visibleWhen
                   checkEnabled="true">
             </visibleWhen>
          </control>
       </menuContribution>
    </extension>
   
</plugin>
