<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright ©2015 Diamond Light Source Ltd
 
 This file is part of GDA.
  
 GDA is free software: you can redistribute it and/or modify it under the
 terms of the GNU General Public License version 3 as published by the Free
 Software Foundation.
 
 GDA is distributed in the hope that it will be useful, but WITHOUT ANY
 WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.
 
 You should have received a copy of the GNU General Public License along
 with GDA. If not, see <http://www.gnu.org/licenses/>.
 
 Contributors:
 	Fajin Yuan
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated sampledefinition -->
      <factory
            uri="http://www.opengda.org/LDEExperiments"
            class="org.opengda.lde.model.ldeexperiment.provider.LDEExperimentsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider"/>
   </extension>

</plugin>
