<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="uk.ac.gda.client.xspress2.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="uk.ac.gda.client.xspress2.Perspective"
            id="uk.ac.gda.client.xspress2.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.gda.exafs.ui.detector.xspress.XspressParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/page_refresh.png"
            id="uk.ac.gda.exafs.ui.XspressParametersEditor"
            name="Xspress Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getXspressContent">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="uk.ac.common.beans.factory">
      <bean
            class="uk.ac.gda.beans.xspress.XspressParameters"
            describer="uk.ac.gda.exafs.ui.describers.XspressDescriber">
      </bean>
   </extension>
   <extension
         point="uk.ac.gda.richbeans.beantypes">
      <describer
            bean="uk.ac.gda.beans.xspress.XspressParameters"
            contentType="uk.ac.diamond.gda.client.exafs.getXspressContent"
            includeInNew="false"
            name="Xspress"
            template="Xspress_Parameters"
            type="UNREGISTERED">
      </describer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.gda.exafs.ui.views.scalersmonitor.ShowXspressCommand"
            id="uk.ac.gda.client.exafs.ui.views.scalersmonitor.showXspress"
            name="ShowHide Xspress stats">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.XspressDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getXspressContent"
            name="Xspress Bean File Content"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.gda.exafs.ui.detector.xspress.XspressView"
            id="uk.ac.gda.client.xspress2.xspress.view"
            name="Xspress"
            restorable="true">
      </view>
   </extension>

</plugin>
