<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="uk.ac.gda.client.xspress2.Perspective"
            id="uk.ac.gda.client.xspress2.perspective">
      </perspective>
   </extension>
   <extension
         point="uk.ac.common.beans.factory">
      <bean
            class="uk.ac.gda.beans.xspress.XspressParameters"
            describer="uk.ac.gda.exafs.ui.describers.XspressDescriber">
      </bean>
   </extension>
   <extension
         point="uk.ac.gda.richbeans.beantypes">
      <describer
            bean="uk.ac.gda.beans.xspress.XspressParameters"
            contentType="uk.ac.diamond.gda.client.exafs.getXspressContent"
            includeInNew="false"
            name="Xspress"
            template="Xspress_Parameters"
            type="UNREGISTERED">
      </describer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.gda.exafs.ui.views.scalersmonitor.ShowXspressCommand"
            id="uk.ac.gda.client.exafs.ui.views.scalersmonitor.showXspress"
            name="ShowHide Xspress stats">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.gda.exafs.ui.detector.xspress.XspressView"
            id="uk.ac.gda.client.xspress2.xspress.view"
            name="Xspress"
            restorable="true">
      </view>
   </extension>

</plugin>
