<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///uk/ac/gda/client/tomo/tomoparameters.ecore"
            class="uk.ac.gda.tomography.parameters.TomoParametersPackage"
            genModel="model/tomoparameters.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="tomoparameters"
            class="uk.ac.gda.tomography.parameters.util.TomoParametersResourceFactoryImpl"/>
   </extension>
   <extension
         point="uk.ac.diamond.daq.jython.api.scriptLocations">
      <location
            folder="uk.ac.gda.tomography/scripts"
            name="Scripts: Tomography">
      </location>
   </extension>
   
   <extension
      point="org.eclipse.dawnsci.analysis.api.classregistry">
      <classregistry
           class="uk.ac.gda.tomography.triggerable.TomoClassRegistry"
           id="uk.ac.gda.tomography.triggerable.TomoClassRegistry">
      </classregistry>
   </extension>
   
   <extension
      point="org.eclipse.dawnsci.analysis.api.marshaller">
      <marshaller
            class="uk.ac.gda.tomography.triggerable.TriggerableTomographyMarshaller"
            id="uk.ac.gda.tomography.triggerable.TriggerableTomographyMarshaller">
      </marshaller>
   </extension>

</plugin>
