<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <view
         allowMultiple="true"
         class="uk.ac.gda.client.live.stream.view.LiveStreamView"
         icon="icons/live_stream.png"
         id="uk.ac.gda.client.live.stream.view.LiveStreamView"
         name="Live Stream"
         restorable="true">
      </view>
      <view
            class="uk.ac.gda.client.live.stream.view.SnapshotView"
            icon="icons/snapshot.png"
            id="uk.ac.gda.client.live.stream.view.snapshotview"
            name="Snapshot"
            restorable="true">
      </view>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
         allPopups="false"
         class="uk.ac.gda.client.live.stream.view.LiveStreamMenuContribution"
         locationURI="menu:window?after=showView">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:uk.ac.gda.client.live.stream.view.LiveStreamView">
         <command
               commandId="uk.ac.gda.client.live.stream.snapshotcommand"
               icon="icons/snapshot.png"
               label="Snapshot"
               style="push"
               tooltip="Take a snapshot of the live image">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uk.ac.gda.client.live.stream.handlers.SnapshotFromLiveStreamHandler"
            commandId="uk.ac.gda.client.live.stream.snapshothandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.ac.gda.client.live.stream.handlers.SnapshotFromLiveStreamHandler"
            description="Take a snapshot of the live image"
            id="uk.ac.gda.client.live.stream.snapshotcommand"
            name="Snapshot">
      </command>
   </extension>
</plugin>
